app/comissao-cientifica.html
<!DOCTYPE html>
<html lang="pt" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>30 Congresso Brasileiro de Patologia | 29 de Outubro a 01 de Novembro</title>
    <!-- build:css css/libraries.min.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:css css/app.min.css-->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/app_override.css">
    <!-- endbuild-->
    <!-- build:js js/vendor/modernizr.min.js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild-->
  </head>
  <body>
    <header>
      <div data-equalizer="data-equalizer" class="row">
        <div data-equalizer-watch="data-equalizer-watch" class="small-4 columns">
          <div itemscope="itemscope" itemtype="http://schema.org/Organization"><a itemprop="url" href="http://congressodepatologia.org.br/"><img itemprop="logo" src="images/congresso_brasileiro_patologia.png" alt="30 Congresso Brasileiro de Patologia"></a></div>
        </div>
        <div id="data" data-equalizer-watch="data-equalizer-watch" class="small-6 columns"><img src="images/data_congresso.png" alt="De 29 de Outubro a 01 de Novembro"></div>
        <div id="login" data-equalizer-watch="data-equalizer-watch" class="small-2 columns">
          <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
          <ul class="inline-list">
            <li><a href="#">login</a></li>
            <li><a href="#">cadastre-se</a></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <nav id="mainNav">
            <ul class="inline-list">
              <li><a href="#">Home</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#" data-dropdown="drop-trabalhos">Trabalhos e SL de Residentes</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <section role="fixed-navigation">
        <div class="row">
          <div class="small-12 columns"></div>
          <nav>
            <ul class="inline-list">
              <li><a href="#" class="logo">30 Congresso Brasileiro de Patologia</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Associados Eméritos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section role="dropdown-container">
        <div class="row">
          <ul id="drop-congresso" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
        <div class="row">
          <ul id="drop-trabalhos" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
      </section>
    </header>
    <div id="content" role="content">
      <div class="row">
        <nav id="breadcrumbs" class="small-12 columns">
          <ul class="breadcrumbs">
            <li><a href=".">Home</a></li>
            <li><a href="#">O Congresso</a></li>
            <li class="current"><a href="#">COMISSÃO CIENTÍFICA</a></li>
          </ul>
        </nav>
        <div class="small-9 columns">
          <div id="page-title" class="small-12">
            <h1><a href="#">COMISSÃO CIENTÍFICA</a></h1>
          </div>
          <div class="small-12 left login_block bg-secondary">
            <form>
              <div class="small-12 columns">
                <h2>Acesso restrito aos membros das comissões.</h2>
              </div>
              <div class="small-6 columns box">
                <div class="small-2 columns">
                  <div class="icon-user"></div>
                </div>
                <div class="small-10 columns">
                  <input type="text" placeholder="E-MAIL">
                </div>
              </div>
              <div class="small-5 columns box">
                <div class="small-2 columns">
                  <div class="icon-key"></div>
                </div>
                <div class="small-10 columns">
                  <input type="text" placeholder="SENHA">
                </div>
              </div>
              <div class="small-1 columns box">
                <button class="button bg-secondary">OK</button>
              </div>
            </form>
          </div>
          <div class="small-12 content_block">
            <h4>COMISSÃO ORGANIZADORA</h4>
            <p>Carlos Alberto Fernandes Ramos – Presidente da SBP<br>Sueli Aparecida Maeda Pereira – Presidente do Congresso e Tesoureira da SBP <br>Ricardo Artigiani Neto – Secretário do Congresso e da SBP<br>José Carlos Corrêa – Tesoureiro do Congresso e Vice-presidente para assuntos profissionais da SBP</p>
            <h4>COORDENAÇÃO CIENTÍFICA</h4>
            <p>Myriam Dumas Hahn – Presidente <br>Alexandre Cavalca Tavares <br>Carlos Renato Almeida Melo<br>Emílio Marcelo Pereira <br>Leonard Medeiros da Silva</p>
            <h4>COMISSÃO AD HOC</h4>
            <p>Albina Messias A. Milani Alteman<br>José Carlos Oliveira de Moraes<br>Venâncio Avancini Ferreira Alves</p>
            <h4>COMISSÃO PRÊMIO OSVALDO GIANNOTTI FILHO</h4>
            <p>Marcello Fabiano de Franco<br>Ricardo Artigiane Neto<br>Leonard Medeiros da Silva<br>Ângela Flávia Logullo</p>
            <h4>COMISSÃO CIENTÍFICA</h4>
            <p>Albina Messias A. Milani Altemani (SP)<br>Alexandre Cavalca Tavares (DF)<br>Alexandre Nakao Odashiro (MS)<br>Alfredo José Afonso Barbosa (MG)<br>Aloísio Souza Felipe da Silva (SP)<br>Ana Luisa Figueira Gouvêa (RJ)<br>Andréa Rodrigues Cordovil Pires (RJ)<br>Athanase Billis (SP)<br>Beatriz Hornburg (SC)<br>Carlos Alberto Fernandes Ramos (PB)<br>Carlos Alberto Ribeiro (MG)<br>Carlos Renato Almeida Melo (RS)<br>Carmen Lúcia Penteado Lancellotti (SP)<br>Celso Rubens Vieira e Silva (BA)<br>Cristovam Scapulatempo Neto (SP)<br>Denise Maria Avancini Costa Malheiros (SP)<br>Eliane Pedra Dias (RJ)<br>Emílio Marcelo Pereira (SP)<br>Enoi Aparecida Guedes Vilar (RJ)<br>Evandro Sobroza de Mello (SP)<br>Fabiano Mesquita Callegari (SP)<br>Fábio Rocha Fernandes Távora (CE)<br>Felipe Correa Geyer (SP) <br>Fred Ellinger (SP)<br>Geanete Pozzan (SP)<br>Graça Helena Maia do Canto Teixeira (RJ) <br>Gustavo Rubino de Azevedo Focchi (SP) <br>Isabela Conde Watanabe (DF)<br>José Carlos Corrêa (MG)<br>José Carlos Oliveira de Morais (RJ)<br>Katia Ramos Moreira Leite (SP)<br>Leda Viegas de Carvalho (SP)<br>Leonard Medeiros da Silva (SP)<br>Leonardo de Abreu Testagrossa (SP)<br>Leonardo Pereira Quintella (RJ) <br>Ligia Maria Barbosa Coutinho (RS)<br>Liliana Aparecida Lucci De Angelo Andrade (SP)<br>Luciana Rodrigues de Meirelles (SP)<br>Luís Vitor de Lima Salomão (SP)<br>Luiz Antonio Rodrigues de Freitas (BA)<br>Marcello Fabiano de Franco (SP)<br>Marco Antonio Dias Filho (MG)<br>Maria Cláudia Nogueira Zerbini (SP)<br>Maria Fernanda Sanches Soares (PR)<br>Maria Teresa de Seixas (SP)<br>Mariangela Esther Alencar Marques (SP)<br>Mauro Tadeu Ajaj Saieg (SP)<br>Mayra Carrijo Rochael (RJ)<br>Nathalie Henriques Silva Canedo (RJ)<br>Patrícia Sabino de Matos (SP)<br>Paulo Roberto Merçon de Vargas (ES)<br>Renata De Marchi Triglia (SP) <br>Ricardo Artigiani Neto (SP)<br>Ricardo Karam Kalil (DF)<br>Ricardo Silvestre e Silva Macarenco (SP)<br>Roberto Falzoni (SP)<br>Rodrigo Neves Ferreira (ES)<br>Romulo Loss Mattedi (SP)<br>Rosemary Nascimento (RJ) <br>Siderley de Souza Carneiro (GO) <br>Tulio Geraldo de Souza e Souza (BA)<br>Vânia Glória Silami Lopes (RJ)<br>Venâncio Avancini Ferreira Alves (SP)<br>Washington Luis Conrado dos Santos (BA)</p>
          </div>
        </div>
        <div class="small-3 columns">
          <aside>
            <h4>Realização</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Diamante</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Ouro</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Prata</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Bronze</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var local_data = { from: 'app/comissao-cientifica.jade', to: 'app/comissao-cientifica.html' }
      console.log(local_data);
      console.log(local_data.from);
      
      
    </script>
    <footer>
      <section role="banners" class="big-banners">
        <ul data-orbit="data-orbit" data-options="animation:fade; navigation_arrows:false; timer:false; slide_number:false;">
          <li class="active"><img src="images/141003-banner-footer-programacao-cientifica-1440.jpg" data-interchange="[images/141003-banner-footer-programacao-cientifica-1440.jpg, (default)], [images/141003-banner-footer-programacao-cientifica-1920.jpg, (only screen and (min-width: 1440px))]" alt="slide 2">
            <div class="row">
              <div class="orbit-caption">
                <h4>PROGRAMAÇÃO<br><span>CIENTÍFICA</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/EE964D/fff, (default)], [http://placehold.it/1920x320/EE964D/fff, (only screen and (min-width: 1440px))]" alt="slide 1">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Two&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/FDC43D/fff, (default)], [http://placehold.it/1920x320/FDC43D/fff, (only screen and (min-width: 1440px))]" alt="slide 3">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Three&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <div class="row">
        <div id="subscribe" class="small-8 columns">
          <h4>Você já se inscreveu?</h4><a href="#"><strong>veja mais informações &#8250;</strong></a>
        </div>
        <div class="small-4 columns">
          <h4 class="text-right">Inscreva-se Agora!</h4>
        </div>
      </div>
      <section role="sitemap">
        <div class="row">
          <div class="small-6 columns"><img src="images/congresso_brasileiro_patologia_white.png"><em>Agências Promotora e de Viagens:</em>
            <div class="row">
              <div class="small-5 columns"><a href="#" class="sprites-footer interevent"></a></div>
              <div class="small-5 columns end"><a href="#" class="sprites-footer diferencial"></a></div>
            </div>
          </div>
          <div class="small-3 columns">
            <ul>
              <li><a href="#" class="uppercase">Home</a></li>
              <li><a href="#" class="uppercase">O Congresso</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#">Comissão</a></li>
              <li><a href="#">Palestrantes</a></li>
              <li><a href="#">Trabalhos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#" class="uppercase">Inscrições</a></li>
              <li><a href="#" class="uppercase">Fale Conosco</a></li>
            </ul>
          </div>
          <div class="small-3 columns">
            <ul>
              <li>
                <div itemscope="itemscope" itemtype="http://schema.org/Organization">
                  <h5>contatos<span itemprop="telephone">+55 (21) 3326-3320</span></h5>
                </div>
              </li>
              <li><a href="mailto:patologia2015@interevent.com.br" itemprop="email">patologia2015@interevent.com.br</a></li>
              <li>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Av. das Americas 3500<br>Bl. Hong Kong 3000 Sl. 405</span><span itemprop="addressLocality">Barra da Tijuca -<span itemprop="addressRegion">RJ</span></span></div>
              </li>
            </ul>
            <div class="row collapse">
              <div class="small-7 small-offset-1 column">
                <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row collapse"><em>Patrocínio:</em>
          <ul class="small-block-grid-4">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-5">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-8">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
      </section>
      <section role="copyright">
        <div class="row collapse">
          <div class="small-8 columns">
            <ul class="small-block-grid-5">
              <li><em>Realização:</em></li>
              <li><a href="#" class="sprites-footer sbp"></a></li>
              <li><em>Apoio:</em></li>
              <li><a href="#" class="sprites-footer academy"></a></li>
              <li><a href="#" class="sprites-footer amb"></a></li>
            </ul>
          </div>
          <div class="small-4 columns"><small>&copy; Todos os direitos reservados a Sociedade Brasileira de Patologia</small></div>
        </div>
      </section>
    </footer>
    <!-- build:js js/vendor/libraries.min.js-->
    <!-- bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <!-- endbower-->
    <script src="js/tiny.editor.js"></script>
    <!-- endbuild-->
    <!-- build:js js/vendor/foundation.min.js-->
    <script src="bower_components/foundation/js/foundation/foundation.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.accordion.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.alert.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.clearing.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.interchange.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.magellan.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.orbit.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.reveal.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tab.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <!-- endbuild-->
    <!-- build:js js/app.min.js-->
    <script src="js/app.js"></script>
    <!-- endbuild-->
  </body>
</html>

app/comissao-cientifica.jade
doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li.current
							a(href="#") COMISSÃO CIENTÍFICA

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") COMISSÃO CIENTÍFICA

					//- Login
					div.small-12.left.login_block.bg-secondary
						form
							div.small-12.columns
								h2 Acesso restrito aos membros das comissões.

							div.small-6.columns.box
								.small-2.columns
									.icon-user
								.small-10.columns
									input(type="text" placeholder="E-MAIL")

							div.small-5.columns.box
								.small-2.columns
									.icon-key
								.small-10.columns
									input(type="text" placeholder="SENHA")

							div.small-1.columns.box
								button.button.bg-secondary OK

					.small-12.content_block
						h4 COMISSÃO ORGANIZADORA
						p Carlos Alberto Fernandes Ramos – Presidente da SBP
							br
							|Sueli Aparecida Maeda Pereira – Presidente do Congresso e Tesoureira da SBP 
							br
							|Ricardo Artigiani Neto – Secretário do Congresso e da SBP
							br
							|José Carlos Corrêa – Tesoureiro do Congresso e Vice-presidente para assuntos profissionais da SBP

						h4 COORDENAÇÃO CIENTÍFICA
						p Myriam Dumas Hahn – Presidente 
							br
							| Alexandre Cavalca Tavares 
							br
							| Carlos Renato Almeida Melo
							br
							| Emílio Marcelo Pereira 
							br
							| Leonard Medeiros da Silva
							
						h4 COMISSÃO AD HOC
						p Albina Messias A. Milani Alteman
							br
							| José Carlos Oliveira de Moraes
							br
							| Venâncio Avancini Ferreira Alves

						h4 COMISSÃO PRÊMIO OSVALDO GIANNOTTI FILHO
						p Marcello Fabiano de Franco
							br
							| Ricardo Artigiane Neto
							br
							| Leonard Medeiros da Silva
							br
							| Ângela Flávia Logullo

						h4 COMISSÃO CIENTÍFICA
						p Albina Messias A. Milani Altemani (SP)
							br
							| Alexandre Cavalca Tavares (DF)
							br
							| Alexandre Nakao Odashiro (MS)
							br
							| Alfredo José Afonso Barbosa (MG)
							br
							| Aloísio Souza Felipe da Silva (SP)
							br
							| Ana Luisa Figueira Gouvêa (RJ)
							br
							| Andréa Rodrigues Cordovil Pires (RJ)
							br
							| Athanase Billis (SP)
							br
							| Beatriz Hornburg (SC)
							br
							| Carlos Alberto Fernandes Ramos (PB)
							br
							| Carlos Alberto Ribeiro (MG)
							br
							| Carlos Renato Almeida Melo (RS)
							br
							| Carmen Lúcia Penteado Lancellotti (SP)
							br
							| Celso Rubens Vieira e Silva (BA)
							br
							| Cristovam Scapulatempo Neto (SP)
							br
							| Denise Maria Avancini Costa Malheiros (SP)
							br
							| Eliane Pedra Dias (RJ)
							br
							| Emílio Marcelo Pereira (SP)
							br
							| Enoi Aparecida Guedes Vilar (RJ)
							br
							| Evandro Sobroza de Mello (SP)
							br
							| Fabiano Mesquita Callegari (SP)
							br
							| Fábio Rocha Fernandes Távora (CE)
							br
							| Felipe Correa Geyer (SP) 
							br
							| Fred Ellinger (SP)
							br
							| Geanete Pozzan (SP)
							br
							| Graça Helena Maia do Canto Teixeira (RJ) 
							br
							| Gustavo Rubino de Azevedo Focchi (SP) 
							br
							| Isabela Conde Watanabe (DF)
							br
							| José Carlos Corrêa (MG)
							br
							| José Carlos Oliveira de Morais (RJ)
							br
							| Katia Ramos Moreira Leite (SP)
							br
							| Leda Viegas de Carvalho (SP)
							br
							| Leonard Medeiros da Silva (SP)
							br
							| Leonardo de Abreu Testagrossa (SP)
							br
							| Leonardo Pereira Quintella (RJ) 
							br
							| Ligia Maria Barbosa Coutinho (RS)
							br
							| Liliana Aparecida Lucci De Angelo Andrade (SP)
							br
							| Luciana Rodrigues de Meirelles (SP)
							br
							| Luís Vitor de Lima Salomão (SP)
							br
							| Luiz Antonio Rodrigues de Freitas (BA)
							br
							| Marcello Fabiano de Franco (SP)
							br
							| Marco Antonio Dias Filho (MG)
							br
							| Maria Cláudia Nogueira Zerbini (SP)
							br
							| Maria Fernanda Sanches Soares (PR)
							br
							| Maria Teresa de Seixas (SP)
							br
							| Mariangela Esther Alencar Marques (SP)
							br
							| Mauro Tadeu Ajaj Saieg (SP)
							br
							| Mayra Carrijo Rochael (RJ)
							br
							| Nathalie Henriques Silva Canedo (RJ)
							br
							| Patrícia Sabino de Matos (SP)
							br
							| Paulo Roberto Merçon de Vargas (ES)
							br
							| Renata De Marchi Triglia (SP) 
							br
							| Ricardo Artigiani Neto (SP)
							br
							| Ricardo Karam Kalil (DF)
							br
							| Ricardo Silvestre e Silva Macarenco (SP)
							br
							| Roberto Falzoni (SP)
							br
							| Rodrigo Neves Ferreira (ES)
							br
							| Romulo Loss Mattedi (SP)
							br
							| Rosemary Nascimento (RJ) 
							br
							| Siderley de Souza Carneiro (GO) 
							br
							| Tulio Geraldo de Souza e Souza (BA)
							br
							| Vânia Glória Silami Lopes (RJ)
							br
							| Venâncio Avancini Ferreira Alves (SP)
							br
							| Washington Luis Conrado dos Santos (BA)

				div(class="small-3 columns")
					include sidebar
		include footer
