app/comissao-cientifica-ad-hoc.html
<!DOCTYPE html>
<html lang="pt" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>30 Congresso Brasileiro de Patologia | 29 de Outubro a 01 de Novembro</title>
    <!-- build:css css/libraries.min.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:css css/app.min.css-->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/app_override.css">
    <!-- endbuild-->
    <!-- build:js js/vendor/modernizr.min.js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild-->
  </head>
  <body>
    <header>
      <div data-equalizer="data-equalizer" class="row">
        <div data-equalizer-watch="data-equalizer-watch" class="small-4 columns">
          <div itemscope="itemscope" itemtype="http://schema.org/Organization"><a itemprop="url" href="http://congressodepatologia.org.br/"><img itemprop="logo" src="images/congresso_brasileiro_patologia.png" alt="30 Congresso Brasileiro de Patologia"></a></div>
        </div>
        <div id="data" data-equalizer-watch="data-equalizer-watch" class="small-6 columns"><img src="images/data_congresso.png" alt="De 29 de Outubro a 01 de Novembro"></div>
        <div id="login" data-equalizer-watch="data-equalizer-watch" class="small-2 columns">
          <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
          <ul class="inline-list">
            <li><a href="#">login</a></li>
            <li><a href="#">cadastre-se</a></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <nav id="mainNav">
            <ul class="inline-list">
              <li><a href="#">Home</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#" data-dropdown="drop-trabalhos">Trabalhos e SL de Residentes</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <section role="fixed-navigation">
        <div class="row">
          <div class="small-12 columns"></div>
          <nav>
            <ul class="inline-list">
              <li><a href="#" class="logo">30 Congresso Brasileiro de Patologia</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Associados Eméritos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section role="dropdown-container">
        <div class="row">
          <ul id="drop-congresso" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
        <div class="row">
          <ul id="drop-trabalhos" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
      </section>
    </header>
    <div id="content" role="content">
      <div class="row">
        <nav id="breadcrumbs" class="small-12 columns">
          <ul class="breadcrumbs">
            <li><a href=".">Home</a></li>
            <li><a href="#">O Congresso</a></li>
            <li><a href="#">ÁREA PRIVATIVA DAS COMISSÕES</a></li>
            <li class="current"><a href="#">COMISSÃO AD HOC</a></li>
          </ul>
        </nav>
        <div class="small-9 columns">
          <div id="page-title" class="small-12">
            <h1><a href="#">COMISSÃO AD HOC </a></h1>
          </div>
          <div class="small-12 sub-category-menu"><a href="#" class="button bg-secondary right">VOLTAR</a></div>
          <div class="small-12 blocked-title">
            <div class="small-12 left login_block bg-primary">
              <h2><strong>Bem-vindo Dr. (a) Sueli</strong></h2>
            </div>
            <p class="small-8 left">Os trabalhos deverão ser julgados até 30/06/15:</p>
            <div class="small-4 bg-custom orange left grade"><strong>FALTAM 20 DIAS e 10:30 HORAS</strong></div>
          </div>
          <div class="small-12 left table-custom">
            <table class="small-12">
              <thead class="small-12">
                <tr>
                  <th class="small-7 bg-secondary">Título</th>
                  <th class="small-2 bg-secondary">Tipo</th>
                  <th class="small-2 bg-secondary">Área</th>
                  <th class="small-1 bg-secondary">Edição</th>
                </tr>
              </thead>
              <tbody class="small-12">
                <tr>
                  <td class="small-7">O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.</td>
                  <td class="small-2">Comunicação Científica</td>
                  <td class="small-2">Patologia Mamária</td>
                  <td class="small-1"><a href="#" class="icon-edit dark-gray"></a><a href="#" class="icon-x red"></a></td>
                </tr>
                <tr>
                  <td class="small-7">O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.</td>
                  <td class="small-2">Relato de Caso</td>
                  <td class="small-2">Dermatopatologia</td>
                  <td class="small-1"><a href="#" class="icon-edit dark-gray"></a><a href="#" class="icon-x red"></a></td>
                </tr>
                <tr>
                  <td class="small-7">O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.</td>
                  <td class="small-2">Relato de Caso</td>
                  <td class="small-2">Dermatopatologia</td>
                  <td class="small-1"><a href="#" class="icon-edit dark-gray"></a><a href="#" class="icon-x red"></a></td>
                </tr>
                <tr>
                  <td class="small-7">O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.</td>
                  <td class="small-2">Relato de Caso</td>
                  <td class="small-2">Dermatopatologia</td>
                  <td class="small-1"><a href="#" class="icon-edit dark-gray"></a><a href="#" class="icon-x red"></a></td>
                </tr>
                <tr>
                  <td class="small-7">O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.</td>
                  <td class="small-2">Relato de Caso</td>
                  <td class="small-2">Dermatopatologia</td>
                  <td class="small-1"><a href="#" class="icon-edit dark-gray"></a><a href="#" class="icon-x red"></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="small-12 left">
            <div class="small-6 left doc-preview">
              <div class="accompanying-title small-12 left">
                <h2 class="small-12 left">Título:</h2>
                <p class="small-10 left">O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.</p><a href="#" class="small-2 left icon-folder-move"></a>
              </div>
              <div class="doc-content small-12 left">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus mi nec eros pretium, vitae molestie urna semper. Etiam eget arcu adipiscing, tincidunt risus ac, dapibus dui. Donec in dictum sem, ut molestie nulla. Duis vel aliquam quam. Proin tristique, magna vitae lacinia semper, nulla massa dictum mi, quis adipiscing quam massa quis orci. Pellentesque vel ligula sem. Aenean mollis dui et nibh suscipit feugiat. Nulla rhoncus eget leo ut fringilla.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus mi nec eros pretium, vitae molestie urna semper. Etiam eget arcu adipiscing, tincidunt risus ac, dapibus dui. Donec in dictum sem, ut molestie nulla. Duis vel aliquam quam. Proin tristique, magna vitae lacinia semper, nulla massa dictum mi, quis adipiscing quam massa quis orci. Pellentesque vel ligula sem. Aenean mollis dui et nibh suscipit feugiat. Nulla rhoncus eget leo ut fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus mi nec eros pretium, vitae molestie urna semper. Etiam eget arcu adipiscing, tincidunt risus ac, dapibus dui. Donec in dictum sem, ut molestie nulla. Duis vel aliquam quam. Proin tristique, magna vitae lacinia semper, nulla massa dictum mi, quis adipiscing quam massa quis orci. Pellentesque vel ligula sem. Aenean mollis dui et nibh suscipit feugiat. Nulla rhoncus eget leo ut fringilla.</p>
              </div>
            </div>
            <div class="small-6 left doc-evaluation">
              <form class="row">
                <div class="small-12 columns">
                  <div data-alert class="alert-box">Avaliação realizada!<a href="#" class="close">&times;</a></div>
                </div>
                <div class="small-12 left columns nota radio-custom">
                  <p>Dê nota de 1 a 10:</p>
                  <div class="columns left">
                    <input type="radio" name="nota" value="1" id="nota1">
                    <label for="nota1">1</label>
                  </div>
                  <div class="columns left">
                    <input type="radio" name="nota" value="1" id="nota2">
                    <label for="nota2">2</label>
                  </div>
                  <div class="columns left">
                    <input type="radio" name="nota" value="1" id="nota3">
                    <label for="nota3">3</label>
                  </div>
                  <div class="columns left">
                    <input type="radio" name="nota" value="1" id="nota4">
                    <label for="nota4">4</label>
                  </div>
                  <div class="columns left">
                    <input type="radio" name="nota" value="1" id="nota5">
                    <label for="nota5">5</label>
                  </div>
                  <div class="columns left">
                    <input type="radio" name="nota" value="1" id="nota6">
                    <label for="nota6">6</label>
                  </div>
                  <div class="columns left">
                    <input type="radio" name="nota" value="1" id="nota7">
                    <label for="nota7">7</label>
                  </div>
                  <div class="columns left">
                    <input type="radio" name="nota" value="1" id="nota8">
                    <label for="nota8">8</label>
                  </div>
                  <div class="columns left">
                    <input type="radio" name="nota" value="1" id="nota9">
                    <label for="nota9">9</label>
                  </div>
                  <div class="columns left">
                    <input type="radio" name="nota" value="1" id="nota10">
                    <label for="nota10">10</label>
                  </div>
                </div>
                <div class="small-12 columns checkbox-custom">
                  <p>Marque se este trabalho deve concorrer a algum prêmio:</p>
                  <div class="small-12">
                    <input id="checkbox1" type="checkbox">
                    <label for="checkbox1">Prêmio SBP</label>
                  </div>
                  <div class="small-12">
                    <input id="checkbox2" type="checkbox">
                    <label for="checkbox2">Prêmio Médico Residente</label>
                  </div>
                  <div class="small-12">
                    <input id="checkbox3" type="checkbox">
                    <label for="checkbox3">Prêmio Osvaldo Giannotti Filho</label>
                  </div>
                </div>
                <div class="small-12 columns">
                  <p>Caso deseje, você pode fazer observações.</p>
                  <textarea placeholder="Observações" class="text"></textarea>
                </div>
                <div class="small-12 columns">
                  <button class="button small-12 bg-custom green-grass">FINALIZAR AVALIAÇÃO</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="small-3 columns">
          <aside>
            <h4>Realização</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Diamante</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Ouro</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Prata</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Bronze</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var local_data = { from: 'app/comissao-cientifica-ad-hoc.jade', to: 'app/comissao-cientifica-ad-hoc.html' }
      console.log(local_data);
      console.log(local_data.from);
      
      
    </script>
    <footer>
      <section role="banners" class="big-banners">
        <ul data-orbit="data-orbit" data-options="animation:fade; navigation_arrows:false; timer:false; slide_number:false;">
          <li class="active"><img src="images/141003-banner-footer-programacao-cientifica-1440.jpg" data-interchange="[images/141003-banner-footer-programacao-cientifica-1440.jpg, (default)], [images/141003-banner-footer-programacao-cientifica-1920.jpg, (only screen and (min-width: 1440px))]" alt="slide 2">
            <div class="row">
              <div class="orbit-caption">
                <h4>PROGRAMAÇÃO<br><span>CIENTÍFICA</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/EE964D/fff, (default)], [http://placehold.it/1920x320/EE964D/fff, (only screen and (min-width: 1440px))]" alt="slide 1">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Two&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/FDC43D/fff, (default)], [http://placehold.it/1920x320/FDC43D/fff, (only screen and (min-width: 1440px))]" alt="slide 3">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Three&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <div class="row">
        <div id="subscribe" class="small-8 columns">
          <h4>Você já se inscreveu?</h4><a href="#"><strong>veja mais informações &#8250;</strong></a>
        </div>
        <div class="small-4 columns">
          <h4 class="text-right">Inscreva-se Agora!</h4>
        </div>
      </div>
      <section role="sitemap">
        <div class="row">
          <div class="small-6 columns"><img src="images/congresso_brasileiro_patologia_white.png"><em>Agências Promotora e de Viagens:</em>
            <div class="row">
              <div class="small-5 columns"><a href="#" class="sprites-footer interevent"></a></div>
              <div class="small-5 columns end"><a href="#" class="sprites-footer diferencial"></a></div>
            </div>
          </div>
          <div class="small-3 columns">
            <ul>
              <li><a href="#" class="uppercase">Home</a></li>
              <li><a href="#" class="uppercase">O Congresso</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#">Comissão</a></li>
              <li><a href="#">Palestrantes</a></li>
              <li><a href="#">Trabalhos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#" class="uppercase">Inscrições</a></li>
              <li><a href="#" class="uppercase">Fale Conosco</a></li>
            </ul>
          </div>
          <div class="small-3 columns">
            <ul>
              <li>
                <div itemscope="itemscope" itemtype="http://schema.org/Organization">
                  <h5>contatos<span itemprop="telephone">+55 (21) 3326-3320</span></h5>
                </div>
              </li>
              <li><a href="mailto:patologia2015@interevent.com.br" itemprop="email">patologia2015@interevent.com.br</a></li>
              <li>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Av. das Americas 3500<br>Bl. Hong Kong 3000 Sl. 405</span><span itemprop="addressLocality">Barra da Tijuca -<span itemprop="addressRegion">RJ</span></span></div>
              </li>
            </ul>
            <div class="row collapse">
              <div class="small-7 small-offset-1 column">
                <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row collapse"><em>Patrocínio:</em>
          <ul class="small-block-grid-4">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-5">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-8">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
      </section>
      <section role="copyright">
        <div class="row collapse">
          <div class="small-8 columns">
            <ul class="small-block-grid-5">
              <li><em>Realização:</em></li>
              <li><a href="#" class="sprites-footer sbp"></a></li>
              <li><em>Apoio:</em></li>
              <li><a href="#" class="sprites-footer academy"></a></li>
              <li><a href="#" class="sprites-footer amb"></a></li>
            </ul>
          </div>
          <div class="small-4 columns"><small>&copy; Todos os direitos reservados a Sociedade Brasileira de Patologia</small></div>
        </div>
      </section>
    </footer>
    <!-- build:js js/vendor/libraries.min.js-->
    <!-- bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <!-- endbower-->
    <script src="js/tiny.editor.js"></script>
    <!-- endbuild-->
    <!-- build:js js/vendor/foundation.min.js-->
    <script src="bower_components/foundation/js/foundation/foundation.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.accordion.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.alert.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.clearing.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.interchange.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.magellan.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.orbit.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.reveal.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tab.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <!-- endbuild-->
    <!-- build:js js/app.min.js-->
    <script src="js/app.js"></script>
    <!-- endbuild-->
  </body>
</html>

app/comissao-cientifica-ad-hoc.jade
doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li
							a(href="#") ÁREA PRIVATIVA DAS COMISSÕES
						li.current
							a(href="#") COMISSÃO AD HOC

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") COMISSÃO AD HOC 

					.small-12.sub-category-menu
						a(href="#").button.bg-secondary.right VOLTAR
					
					.small-12.blocked-title
						.small-12.left.login_block.bg-primary 
							h2 
								strong Bem-vindo Dr. (a) Sueli
						p.small-8.left Os trabalhos deverão ser julgados até 30/06/15:
						.small-4.bg-custom.orange.left.grade
							strong FALTAM 20 DIAS e 10:30 HORAS

					.small-12.left.table-custom
						table.small-12
							thead.small-12
								tr
									th.small-7.bg-secondary Título
									th.small-2.bg-secondary Tipo
									th.small-2.bg-secondary Área
									th.small-1.bg-secondary Edição
							tbody.small-12
								tr
									td.small-7 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Comunicação Científica
									td.small-2 Patologia Mamária
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red

								tr
									td.small-7 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Relato de Caso
									td.small-2 Dermatopatologia
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red
								tr
									td.small-7 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Relato de Caso
									td.small-2 Dermatopatologia
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red
								tr
									td.small-7 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Relato de Caso
									td.small-2 Dermatopatologia
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red
								tr
									td.small-7 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Relato de Caso
									td.small-2 Dermatopatologia
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red

					.small-12.left
						.small-6.left.doc-preview
							.accompanying-title.small-12.left
								h2.small-12.left Título:
								p.small-10.left O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
								a(href="#").small-2.left.icon-folder-move
							.doc-content.small-12.left
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus mi nec eros pretium, vitae molestie urna semper. Etiam eget arcu adipiscing, tincidunt risus ac, dapibus dui. Donec in dictum sem, ut molestie nulla. Duis vel aliquam quam. Proin tristique, magna vitae lacinia semper, nulla massa dictum mi, quis adipiscing quam massa quis orci. Pellentesque vel ligula sem. Aenean mollis dui et nibh suscipit feugiat. Nulla rhoncus eget leo ut fringilla.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus mi nec eros pretium, vitae molestie urna semper. Etiam eget arcu adipiscing, tincidunt risus ac, dapibus dui. Donec in dictum sem, ut molestie nulla. Duis vel aliquam quam. Proin tristique, magna vitae lacinia semper, nulla massa dictum mi, quis adipiscing quam massa quis orci. Pellentesque vel ligula sem. Aenean mollis dui et nibh suscipit feugiat. Nulla rhoncus eget leo ut fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus mi nec eros pretium, vitae molestie urna semper. Etiam eget arcu adipiscing, tincidunt risus ac, dapibus dui. Donec in dictum sem, ut molestie nulla. Duis vel aliquam quam. Proin tristique, magna vitae lacinia semper, nulla massa dictum mi, quis adipiscing quam massa quis orci. Pellentesque vel ligula sem. Aenean mollis dui et nibh suscipit feugiat. Nulla rhoncus eget leo ut fringilla.

						.small-6.left.doc-evaluation
							form.row
								div.small-12.columns
									div(data-alert class="alert-box") Avaliação realizada!
										a(href="#" class="close") &times;

								div.small-12.left.columns.nota.radio-custom
									p Dê nota de 1 a 10:
									.columns.left
										input(type="radio" name="nota" value="1" id="nota1")
										label(for="nota1") 1
									.columns.left
										input(type="radio" name="nota" value="1" id="nota2")
										label(for="nota2") 2
									.columns.left
										input(type="radio" name="nota" value="1" id="nota3")
										label(for="nota3") 3
									.columns.left
										input(type="radio" name="nota" value="1" id="nota4")
										label(for="nota4") 4
									.columns.left
										input(type="radio" name="nota" value="1" id="nota5")
										label(for="nota5") 5
									.columns.left
										input(type="radio" name="nota" value="1" id="nota6")
										label(for="nota6") 6
									.columns.left
										input(type="radio" name="nota" value="1" id="nota7")
										label(for="nota7") 7
									.columns.left
										input(type="radio" name="nota" value="1" id="nota8")
										label(for="nota8") 8
									.columns.left
										input(type="radio" name="nota" value="1" id="nota9")
										label(for="nota9") 9
									.columns.left
										input(type="radio" name="nota" value="1" id="nota10")
										label(for="nota10") 10

								div.small-12.columns.checkbox-custom
									p Marque se este trabalho deve concorrer a algum prêmio:
									.small-12
										input(id="checkbox1" type="checkbox")
										label(for="checkbox1") Prêmio SBP
									.small-12
										input(id="checkbox2" type="checkbox")
										label(for="checkbox2") Prêmio Médico Residente
									.small-12
										input(id="checkbox3" type="checkbox")
										label(for="checkbox3") Prêmio Osvaldo Giannotti Filho

								div.small-12.columns
									p Caso deseje, você pode fazer observações.
									textarea(class="text" placeholder="Observações")

								div.small-12.columns
									button.button.small-12.bg-custom.green-grass FINALIZAR AVALIAÇÃO

				div(class="small-3 columns")
					include sidebar
		include footer
