app/fluxo-sl-seminario-submeter.html
<!DOCTYPE html>
<html lang="pt" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>30 Congresso Brasileiro de Patologia | 29 de Outubro a 01 de Novembro</title>
    <!-- build:css css/libraries.min.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:css css/app.min.css-->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/app_override.css">
    <!-- endbuild-->
    <!-- build:js js/vendor/modernizr.min.js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild-->
  </head>
  <body>
    <header>
      <div data-equalizer="data-equalizer" class="row">
        <div data-equalizer-watch="data-equalizer-watch" class="small-4 columns">
          <div itemscope="itemscope" itemtype="http://schema.org/Organization"><a itemprop="url" href="http://congressodepatologia.org.br/"><img itemprop="logo" src="images/congresso_brasileiro_patologia.png" alt="30 Congresso Brasileiro de Patologia"></a></div>
        </div>
        <div id="data" data-equalizer-watch="data-equalizer-watch" class="small-6 columns"><img src="images/data_congresso.png" alt="De 29 de Outubro a 01 de Novembro"></div>
        <div id="login" data-equalizer-watch="data-equalizer-watch" class="small-2 columns">
          <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
          <ul class="inline-list">
            <li><a href="#">login</a></li>
            <li><a href="#">cadastre-se</a></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <nav id="mainNav">
            <ul class="inline-list">
              <li><a href="#">Home</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#" data-dropdown="drop-trabalhos">Trabalhos e SL de Residentes</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <section role="fixed-navigation">
        <div class="row">
          <div class="small-12 columns"></div>
          <nav>
            <ul class="inline-list">
              <li><a href="#" class="logo">30 Congresso Brasileiro de Patologia</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Associados Eméritos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section role="dropdown-container">
        <div class="row">
          <ul id="drop-congresso" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
        <div class="row">
          <ul id="drop-trabalhos" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
      </section>
    </header>
    <div id="content" role="content">
      <div class="row">
        <nav id="breadcrumbs" class="small-12 columns">
          <ul class="breadcrumbs">
            <li><a href=".">Home</a></li>
            <li><a href="#">TRABALHOS E SL RESIDENTES</a></li>
            <li><a href="#">SEMINÁRIO DE LÂMINAS</a></li>
            <li class="current"><a href="#">SUBMETER RESUMOS</a></li>
          </ul>
        </nav>
        <div class="small-9 columns">
          <div id="page-title" class="small-12">
            <h1><a href="#">SUBMETER SEMINÁRIO</a></h1>
          </div>
          <div class="sub-category-menu"><a href="#" class="button">TRABALHOS CIENTÍFICOS</a><a href="#" class="button current">SL RESIDENTES</a><a href="#" class="button">TRABALHOS APROVADOS</a></div>
          <div class="small-12 left">
            <div class="small-12 left login_block bg-primary">
              <h2><strong>Olá PARTICIPANTE,</strong></h2>
              <p>Aqui você pode visualizar, editar e submeter seu seminário de lâminas.</p>
            </div>
          </div>
          <div class="small-12 left table-custom">
            <table class="small-12">
              <thead class="small-12">
                <tr>
                  <th class="small-1 bg-secondary">Caso</th>
                  <th class="small-3 bg-secondary">Tipo</th>
                  <th class="small-3 bg-secondary">Área</th>
                  <th class="small-2 bg-secondary">Status</th>
                  <th class="small-2 bg-secondary">Submetido</th>
                  <th class="small-1 bg-secondary">Edição</th>
                </tr>
              </thead>
              <tbody class="small-12">
                <tr>
                  <td class="small-1">1</td>
                  <td class="small-3">Autópsia</td>
                  <td class="small-3">Patologia Mamária</td>
                  <td class="small-2">Em elaboração</td>
                  <td class="small-2">10/06/2015</td>
                  <td class="small-1"><a href="#" class="icon-edit dark-gray"></a><a href="#" data-reveal-id="modal-remove-case" class="icon-x red"></a></td>
                </tr>
                <tr>
                  <td class="small-1">1</td>
                  <td class="small-3">Autópsia</td>
                  <td class="small-3">Patologia Mamária</td>
                  <td class="small-2 blue">Caso enviado</td>
                  <td class="small-2">10/06/2015</td>
                  <td class="small-1"><a href="#" class="icon-edit dark-gray"></a><a href="#" data-reveal-id="modal-remove-case" class="icon-x red"></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="small-12 bg-secondary left">
            <h2 class="small-12 box-title">ADICIONAR NOVO CASO</h2>
          </div>
          <div class="small-12 left tabs-upload">
            <dl data-tab class="tabs">
              <dd class="active"><a href="#imagens">IMAGENS</a></dd>
              <dd><a href="#historia-clinica">HISTÓRIA CLÍNICA</a></dd>
              <dd><a href="#diagnostico">DIAGNÓSTICO</a></dd>
              <dd><a href="#handout">HANDOUT</a></dd>
              <dd><a href="#bibliografia">BIBLIOGRAFIA</a></dd>
            </dl>
            <div class="tabs-content">
              <div id="imagens" class="content images active">
                <div class="small-12">
                  <div class="small-10 columns">
                    <p>Publique aqui as imagens do caso.</p>
                  </div>
                  <div class="small-2 columns">
                    <div class="small-6 columns"><a href="#" class="icon-detail right primary"></a></div>
                    <div class="small-6 columns"><a href="#" class="icon-exclude right red"></a></div>
                  </div>
                </div>
                <div class="small-12 upload-image">
                  <ul class="small-block-grid-4">
                    <li><a href="#"><span class="icon-check"></span><img src="http://placehold.it/150x100"></a></li>
                    <li><a href="#"><span class="icon-check"></span><img src="http://placehold.it/150x100"></a></li>
                    <li><a href="#"><span class="icon-check"></span><img src="http://placehold.it/150x100"></a></li>
                    <li class="active"><a href="#"><span class="icon-check"></span><img src="http://placehold.it/150x100"></a></li>
                    <li><a href="#"><span class="icon-check"></span><img src="http://placehold.it/150x100"></a></li>
                    <li><a href="#"><span class="icon-check"></span><img src="http://placehold.it/150x100"></a></li>
                    <li><a href="#"><span class="icon-check"></span><img src="http://placehold.it/150x100"></a></li>
                    <li><a href="#"><span class="icon-check"></span><img src="http://placehold.it/150x100"></a></li>
                    <li><a href="#"><span class="icon-check"></span><img src="http://placehold.it/150x100"></a></li>
                    <li><a href="#"><span class="icon-check"></span><img src="http://placehold.it/150x100"></a></li>
                    <li><a href="#"><span class="icon-check"></span><img src="http://placehold.it/150x100"></a></li>
                    <li><a href="#"><span class="icon-check"></span><img src="http://placehold.it/150x100"></a></li>
                    <li><a href="#"><span class="icon-check"></span><img src="http://placehold.it/150x100"></a></li>
                    <li><a href="#"><span class="icon-check"></span><img src="http://placehold.it/150x100"></a></li>
                    <li><a href="#"><span class="icon-check"></span><img src="http://placehold.it/150x100"></a></li>
                  </ul>
                  <p>Selecione as imagens e clique em “carregar”:</p>
                  <div class="small-12 upload-bar">
                    <div class="small-8 left">
                      <form>
                        <input type="text" placeholder="CLIQUE AQUI PARA PROCURAR SUAS IMAGENS">
                      </form>
                    </div>
                    <div class="small-2 left"><span class="icon-drive right"></span></div>
                    <div class="small-2 left">
                      <div class="button bg-custom green-grass right tiny"><strong>CARREGAR</strong></div>
                    </div>
                  </div>
                </div>
                <div class="save small-12">
                  <p class="blue left">Dados salvos com sucesso.						</p>
                </div>
              </div>
              <div id="historia-clinica" class="content">
                <p>Digite a História Clinica.</p>
                <textarea id="historiaClinicaEdit"></textarea>
                <div class="save small-12">
                  <p class="blue left">Dados salvos com sucesso.						</p>
                  <div class="button bg-custom green-grass right">Criar Caso</div>
                </div>
              </div>
              <div id="diagnostico" class="content">
                <p>Digite o Diagnóstico.</p>
                <textarea id="diagnosticoEdit"></textarea>
                <div class="save small-12">
                  <p class="blue left">Dados salvos com sucesso.						</p>
                  <div class="button bg-custom green-grass right">Criar Caso</div>
                </div>
              </div>
              <div id="handout" class="content">
                <p>Digite o Handout.</p>
                <textarea id="handoutEdit"></textarea>
                <div class="save small-12">
                  <p class="blue left">Dados salvos com sucesso.						</p>
                  <div class="button bg-custom green-grass right">Criar Caso</div>
                </div>
              </div>
              <div id="bibliografia" class="content">
                <p>Digite a Bibliografia.</p>
                <textarea id="bibliografiaEdit"></textarea>
                <div class="save small-12">
                  <p class="blue left">Dados salvos com sucesso.						</p>
                  <div class="button bg-custom green-grass right">Criar Caso</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="small-3 columns">
          <aside>
            <h4>Realização</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Diamante</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Ouro</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Prata</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Bronze</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
          </aside>
        </div>
        <div id="modal-remove-case" data-reveal class="reveal-modal modal-custom">
          <div class="small-12 left bg-custom red-blood">
            <h2 class="small-12 box-title icon-alert">REMOVER O CASO</h2>
          </div>
          <div class="small-12 left text">
            <p>Todos as imagens, história clínica, bibliografia e handout, serão apagados juntamente com o caso.</p>
            <p>Tem certeza que deseja remover o caso?</p>
          </div>
          <div class="small-12 left buttons"><a href="#" class="close-reveal-modal button small-4 left bg-custom gray">CANCELAR</a><a href="#" class="button small-8 left bg-custom red-blood">REMOVER</a></div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var local_data = { from: 'app/fluxo-sl-seminario-submeter.jade', to: 'app/fluxo-sl-seminario-submeter.html' }
      console.log(local_data);
      console.log(local_data.from);
      
      
    </script>
    <footer>
      <section role="banners" class="big-banners">
        <ul data-orbit="data-orbit" data-options="animation:fade; navigation_arrows:false; timer:false; slide_number:false;">
          <li class="active"><img src="images/141003-banner-footer-programacao-cientifica-1440.jpg" data-interchange="[images/141003-banner-footer-programacao-cientifica-1440.jpg, (default)], [images/141003-banner-footer-programacao-cientifica-1920.jpg, (only screen and (min-width: 1440px))]" alt="slide 2">
            <div class="row">
              <div class="orbit-caption">
                <h4>PROGRAMAÇÃO<br><span>CIENTÍFICA</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/EE964D/fff, (default)], [http://placehold.it/1920x320/EE964D/fff, (only screen and (min-width: 1440px))]" alt="slide 1">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Two&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/FDC43D/fff, (default)], [http://placehold.it/1920x320/FDC43D/fff, (only screen and (min-width: 1440px))]" alt="slide 3">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Three&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <div class="row">
        <div id="subscribe" class="small-8 columns">
          <h4>Você já se inscreveu?</h4><a href="#"><strong>veja mais informações &#8250;</strong></a>
        </div>
        <div class="small-4 columns">
          <h4 class="text-right">Inscreva-se Agora!</h4>
        </div>
      </div>
      <section role="sitemap">
        <div class="row">
          <div class="small-6 columns"><img src="images/congresso_brasileiro_patologia_white.png"><em>Agências Promotora e de Viagens:</em>
            <div class="row">
              <div class="small-5 columns"><a href="#" class="sprites-footer interevent"></a></div>
              <div class="small-5 columns end"><a href="#" class="sprites-footer diferencial"></a></div>
            </div>
          </div>
          <div class="small-3 columns">
            <ul>
              <li><a href="#" class="uppercase">Home</a></li>
              <li><a href="#" class="uppercase">O Congresso</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#">Comissão</a></li>
              <li><a href="#">Palestrantes</a></li>
              <li><a href="#">Trabalhos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#" class="uppercase">Inscrições</a></li>
              <li><a href="#" class="uppercase">Fale Conosco</a></li>
            </ul>
          </div>
          <div class="small-3 columns">
            <ul>
              <li>
                <div itemscope="itemscope" itemtype="http://schema.org/Organization">
                  <h5>contatos<span itemprop="telephone">+55 (21) 3326-3320</span></h5>
                </div>
              </li>
              <li><a href="mailto:patologia2015@interevent.com.br" itemprop="email">patologia2015@interevent.com.br</a></li>
              <li>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Av. das Americas 3500<br>Bl. Hong Kong 3000 Sl. 405</span><span itemprop="addressLocality">Barra da Tijuca -<span itemprop="addressRegion">RJ</span></span></div>
              </li>
            </ul>
            <div class="row collapse">
              <div class="small-7 small-offset-1 column">
                <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row collapse"><em>Patrocínio:</em>
          <ul class="small-block-grid-4">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-5">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-8">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
      </section>
      <section role="copyright">
        <div class="row collapse">
          <div class="small-8 columns">
            <ul class="small-block-grid-5">
              <li><em>Realização:</em></li>
              <li><a href="#" class="sprites-footer sbp"></a></li>
              <li><em>Apoio:</em></li>
              <li><a href="#" class="sprites-footer academy"></a></li>
              <li><a href="#" class="sprites-footer amb"></a></li>
            </ul>
          </div>
          <div class="small-4 columns"><small>&copy; Todos os direitos reservados a Sociedade Brasileira de Patologia</small></div>
        </div>
      </section>
    </footer>
    <!-- build:js js/vendor/libraries.min.js-->
    <!-- bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <!-- endbower-->
    <script src="js/tiny.editor.js"></script>
    <!-- endbuild-->
    <!-- build:js js/vendor/foundation.min.js-->
    <script src="bower_components/foundation/js/foundation/foundation.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.accordion.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.alert.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.clearing.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.interchange.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.magellan.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.orbit.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.reveal.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tab.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <!-- endbuild-->
    <!-- build:js js/app.min.js-->
    <script src="js/app.js"></script>
    <!-- endbuild-->
  </body>
</html>

app/fluxo-sl-seminario-submeter.jade
doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") TRABALHOS E SL RESIDENTES
						li
							a(href="#") SEMINÁRIO DE LÂMINAS
						li.current
							a(href="#") SUBMETER RESUMOS

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") SUBMETER SEMINÁRIO

					div.sub-category-menu
						a(href="#").button TRABALHOS CIENTÍFICOS
						a(href="#").button.current SL RESIDENTES
						a(href="#").button TRABALHOS APROVADOS

					.small-12.left
						.small-12.left.login_block.bg-primary 
							h2 
								strong Olá PARTICIPANTE,
							p Aqui você pode visualizar, editar e submeter seu seminário de lâminas.

					.small-12.left.table-custom
						table.small-12
							thead.small-12
								tr
									th.small-1.bg-secondary Caso
									th.small-3.bg-secondary Tipo
									th.small-3.bg-secondary Área
									th.small-2.bg-secondary Status
									th.small-2.bg-secondary Submetido
									th.small-1.bg-secondary Edição

							tbody.small-12
								tr
									td.small-1 1
									td.small-3 Autópsia
									td.small-3 Patologia Mamária
									td.small-2 Em elaboração
									td.small-2 10/06/2015
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#", data-reveal-id="modal-remove-case").icon-x.red

								tr
									td.small-1 1
									td.small-3 Autópsia
									td.small-3 Patologia Mamária
									td.small-2.blue Caso enviado
									td.small-2 10/06/2015
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#", data-reveal-id="modal-remove-case").icon-x.red

					.small-12.bg-secondary.left
						h2.small-12.box-title ADICIONAR NOVO CASO

					.small-12.left.tabs-upload
						dl.tabs(data-tab)
							dd.active
								a(href="#imagens") IMAGENS
							dd
								a(href="#historia-clinica") HISTÓRIA CLÍNICA
							dd
								a(href="#diagnostico") DIAGNÓSTICO
							dd
								a(href="#handout") HANDOUT
							dd
								a(href="#bibliografia") BIBLIOGRAFIA

						.tabs-content
							.content.images.active#imagens
								.small-12
									.small-10.columns
										p Publique aqui as imagens do caso.
									.small-2.columns
										.small-6.columns
											a(href="#").icon-detail.right.primary
										.small-6.columns
											a(href="#").icon-exclude.right.red
								.small-12.upload-image
									ul.small-block-grid-4
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li.active
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
									p Selecione as imagens e clique em “carregar”:
									.small-12.upload-bar
										.small-8.left
											form
												input(type="text" placeholder="CLIQUE AQUI PARA PROCURAR SUAS IMAGENS")
										.small-2.left
											span.icon-drive.right
										.small-2.left
											.button.bg-custom.green-grass.right.tiny
												strong CARREGAR
								.save.small-12
									p.blue.left Dados salvos com sucesso.						
							.content#historia-clinica
								p Digite a História Clinica.
								textarea(id="historiaClinicaEdit")
								.save.small-12
									p.blue.left Dados salvos com sucesso.						
									.button.bg-custom.green-grass.right Criar Caso

							.content#diagnostico
								p Digite o Diagnóstico.
								textarea(id="diagnosticoEdit")
								.save.small-12
									p.blue.left Dados salvos com sucesso.						
									.button.bg-custom.green-grass.right Criar Caso

							.content#handout
								p Digite o Handout.
								textarea(id="handoutEdit")
								.save.small-12
									p.blue.left Dados salvos com sucesso.						
									.button.bg-custom.green-grass.right Criar Caso

							.content#bibliografia
								p Digite a Bibliografia.
								textarea(id="bibliografiaEdit")
								.save.small-12
									p.blue.left Dados salvos com sucesso.						
									.button.bg-custom.green-grass.right Criar Caso


				div(class="small-3 columns")
					include sidebar

				//- Modal para remover
				include modal-remove-case

		include footer
