app/fluxo-trabalhos.jade
doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") TRABALHOS E SL RESIDENTES
						li.current
							a(href="#") TRABALHOS CIENTÍFICOS

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") TRABALHOS CIENTÍFICOS

					div.sub-category-menu
						a(href="#").button.current TRABALHOS CIENTÍFICOS
						a(href="#").button SL RESIDENTES
						a(href="#").button TRABALHOS APROVADOS

					.small-12.left
						.small-12.bg-secondary.left
							h2.small-12.box-title.icon-upload.left Submeter Seminário de Lâminas
						.small-12.login_block.left
							form
								div.small-12.columns
									h2 Para submeter seus seminários faça o login:

								div.small-6.columns.box
									.small-2.columns
										.icon-user
									.small-10.columns
										input(type="text" placeholder="E-MAIL")

								div.small-5.columns.box
									.small-2.columns
										.icon-key
									.small-10.columns
										input(type="text" placeholder="SENHA")

								div.small-1.columns.box
									button.button OK

								div.small-12.columns
									p Ainda não efetuou seu cadastro? 
										a(href="#")  Clique aqui e cadastre-se agora.

					.small-12.left
						dl.small-12.accordion(data-accordion)
							dd.accordion-navigation.small-12.left.active
								a(href="#informacoes").bg-secondary.small-12.left
									h2.small-12.box-title.icon-copy Informações Gerais

								div#informacoes.content.small-12.left.content_block.active
									br
									p A Comissão Científica do 30º Congresso Brasileiro de Patologia tem o prazer de convidá-lo(a) para submeter trabalhos de temas livres na forma de resumos. Siga rigorosamente as instruções a seguir. A data limite para envio de trabalhos é 20 de maio de 2015, às 23h59.

									h3 Informações gerais

									p 1. Somente será aceito material científico original, que não tenha sido previamente publicado ou apresentado em congressos anteriores da SBP. Contudo, trabalhos apresentados em outras reuniões científicas, regionais ou internacionais, podem ser submetidos.
									p 2. É necessário que o primeiro autor, responsável pela apresentação do trabalho, esteja inscrito no Congresso. Este autor será o interlocutor com a organização e receberá toda correspondência referente ao trabalho. É importante conferir os dados pessoais e endereço. É igualmente importante se certificar, junto aos demais autores, se outra pessoa também enviou o trabalho, para evitar duplicidade.
									p 3. Os trabalhos podem ser redigidos em português, espanhol ou inglês. Porém, qualquer que seja a língua escolhida é fundamental que esteja gramaticalmente correta, caso contrário, poderá ser motivo de recusa do resumo. Lembrar que o resumo, caso aceito, será publicado nos anais do Congresso e sua qualidade deve ser incontestável.
									p 4. Os trabalhos devem ser submetidos exclusivamente via site. Após o cadastro, os mesmos ficarão disponíveis no site e o autor, após fazer login, poderá revê-los e modificá-los até o prazo final de submissão.
									p 5. Os trabalhos serão divididos em duas categorias principais: I - Comunicações Científicas e II - Relatos de Casos. Também serão categorizados por área de conhecimento da Patologia, conforme lista. Eventualmente, para apresentação, alguns trabalhos poderão ser reagrupados.
									p 6. Os Trabalhos serão avaliados anonimamente pelos membros da Comissão Científica, sendo sua decisão inapelável.
									p 7. Depois de aceitos, os trabalhos serão selecionados para apresentação na forma de pôster ou oral. Os resumos com as comunicações científicas mais relevantes serão selecionados para apresentação oral. Estes trabalhos devem suscitar discussão que contribua significativamente para o progresso da especialidade e aprimoramento dos participantes do evento.									

							dd.accordion-navigation.small-12.left
								a(href="#instrucoes").bg-secondary.small-12.left
									h2.small-12.box-title.icon-copy Instruções para Envio / Submeter Trabalhos

								div#instrucoes.content.small-12.left.content_block
									br
									h3 Instruções para envio
									p 1. Clicar no link SUBMETER TRABALHOS e fazer login. O autor logado no sistema será o 1º autor e seus dados já serão apresentados na tela.
									p 2. Preencher os campos dos demais autores com nome completo, instituição, cidade, UF e país. Exemplo: JOSÉ DA SILVA, Universidade de Jupiá, Tabatinguera, MS, Brasil. 
									p 3. Título: Em letras maiúsculas; Fonte Arial 10; espaço simples; máximo de 250 caracteres, incluindo espaços (utilize o contador de palavras e letras do Word). 
									p 4. Texto: Fonte Arial 10; espaço simples; máximo de 1.800 caracteres, incluindo espaços. Não colocar o nome da instituição financiadora no corpo do resumo. Deve ser estruturado da seguinte forma: I. Comunicações Científicas: Introdução/Objetivos; Material e Métodos: Resultados/Conclusões. II. Relatos de Casos: Introdução/Objetivos (justificar em que a apresentação do caso é relevante e contribuirá para os participantes do evento); Descrição do caso (dados clínicos relevantes; dados patológicos – macro, micro, imuno, outros); Conclusões. Não inserir gráficos, tabelas ou figuras no texto.
									p.small-alert
										strong.red IMPORTANTE:
										|  Erros na formatação podem resultar na rejeição do trabalho, independente da sua qualidade. Não serão aceitas correções posteriores ao prazo de submissão dos trabalhos. A qualidade do mesmo deve ser incontestável, uma vez que resultará em publicação permanente.

							dd.accordion-navigation.small-12.left
								a(href="#calendario").bg-secondary.small-12.left
									h2.small-12.box-title.icon-calendar Calendário

								div#calendario.content.small-12.left.content_block
									br
									.small-12.left.table-custom
										table.small-12
											thead.small-12
												tr
													th.small-4.bg-custom.dark-gray Data
													th.small-8.bg-custom.dark-gray Descrição

											tbody.small-12
												tr
													td.small-4 20 de maio de 2015
													td.small-8 Data final para submissão de trabalhos de Temas Livres.
												tr
													td.small-4 01 de junho de 2015
													td.small-8 Data final para submissão de casos para o Seminário de Lâminas dos Residentes.
												tr
													td.small-4 30 de julho de 2015
													td.small-8 Divulgação dos trabalhos aceitos no site do congresso. O primeiro autor dos resumos não selecionados será informado por e-mail.
												tr
													td.small-4 20 de agosto de 2015
													td.small-8 Data final para envio do pôster, no formato pdf e com até 5 MB (megabytes), dos trabalhos que estiverem concorrendo ao prêmio Médico Residente.
												tr
													td.small-4 29 de setembro de 2015
													td.small-8 Divulgação da data, horário e local da apresentação oral ou do pôster no site do congresso.
												tr
													td.small-4 31 de outubro de 2015
													td.small-8 Divulgação e entrega dos prêmios (durante a festa de encerramento).

							dd.accordion-navigation.small-12.left
								a(href="#areas-de-conhecimento").bg-secondary.small-12.left
									h2.small-12.box-title.icon-lamp Áreas de Conhecimento

								div#areas-de-conhecimento.content.small-12.left.content_block
									br
									p Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.

				div(class="small-3 columns")
					include sidebar
		include footer

app/fluxo-trabalhos.html
<!DOCTYPE html>
<html lang="pt" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>30 Congresso Brasileiro de Patologia | 29 de Outubro a 01 de Novembro</title>
    <!-- build:css css/libraries.min.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:css css/app.min.css-->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/app_override.css">
    <!-- endbuild-->
    <!-- build:js js/vendor/modernizr.min.js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild-->
  </head>
  <body>
    <header>
      <div data-equalizer="data-equalizer" class="row">
        <div data-equalizer-watch="data-equalizer-watch" class="small-4 columns">
          <div itemscope="itemscope" itemtype="http://schema.org/Organization"><a itemprop="url" href="http://congressodepatologia.org.br/"><img itemprop="logo" src="images/congresso_brasileiro_patologia.png" alt="30 Congresso Brasileiro de Patologia"></a></div>
        </div>
        <div id="data" data-equalizer-watch="data-equalizer-watch" class="small-6 columns"><img src="images/data_congresso.png" alt="De 29 de Outubro a 01 de Novembro"></div>
        <div id="login" data-equalizer-watch="data-equalizer-watch" class="small-2 columns">
          <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
          <ul class="inline-list">
            <li><a href="#">login</a></li>
            <li><a href="#">cadastre-se</a></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <nav id="mainNav">
            <ul class="inline-list">
              <li><a href="#">Home</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#" data-dropdown="drop-trabalhos">Trabalhos e SL de Residentes</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <section role="fixed-navigation">
        <div class="row">
          <div class="small-12 columns"></div>
          <nav>
            <ul class="inline-list">
              <li><a href="#" class="logo">30 Congresso Brasileiro de Patologia</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Associados Eméritos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section role="dropdown-container">
        <div class="row">
          <ul id="drop-congresso" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
        <div class="row">
          <ul id="drop-trabalhos" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
      </section>
    </header>
    <div id="content" role="content">
      <div class="row">
        <nav id="breadcrumbs" class="small-12 columns">
          <ul class="breadcrumbs">
            <li><a href=".">Home</a></li>
            <li><a href="#">TRABALHOS E SL RESIDENTES</a></li>
            <li class="current"><a href="#">TRABALHOS CIENTÍFICOS</a></li>
          </ul>
        </nav>
        <div class="small-9 columns">
          <div id="page-title" class="small-12">
            <h1><a href="#">TRABALHOS CIENTÍFICOS</a></h1>
          </div>
          <div class="sub-category-menu"><a href="#" class="button current">TRABALHOS CIENTÍFICOS</a><a href="#" class="button">SL RESIDENTES</a><a href="#" class="button">TRABALHOS APROVADOS</a></div>
          <div class="small-12 left">
            <div class="small-12 bg-secondary left">
              <h2 class="small-12 box-title icon-upload left">Submeter Seminário de Lâminas</h2>
            </div>
            <div class="small-12 login_block left">
              <form>
                <div class="small-12 columns">
                  <h2>Para submeter seus seminários faça o login:</h2>
                </div>
                <div class="small-6 columns box">
                  <div class="small-2 columns">
                    <div class="icon-user"></div>
                  </div>
                  <div class="small-10 columns">
                    <input type="text" placeholder="E-MAIL">
                  </div>
                </div>
                <div class="small-5 columns box">
                  <div class="small-2 columns">
                    <div class="icon-key"></div>
                  </div>
                  <div class="small-10 columns">
                    <input type="text" placeholder="SENHA">
                  </div>
                </div>
                <div class="small-1 columns box">
                  <button class="button">OK</button>
                </div>
                <div class="small-12 columns">
                  <p>Ainda não efetuou seu cadastro? <a href="#"> Clique aqui e cadastre-se agora.</a></p>
                </div>
              </form>
            </div>
          </div>
          <div class="small-12 left">
            <dl data-accordion class="small-12 accordion">
              <dd class="accordion-navigation small-12 left active"><a href="#informacoes" class="bg-secondary small-12 left">
                  <h2 class="small-12 box-title icon-copy">Informações Gerais</h2></a>
                <div id="informacoes" class="content small-12 left content_block active"><br>
                  <p>A Comissão Científica do 30º Congresso Brasileiro de Patologia tem o prazer de convidá-lo(a) para submeter trabalhos de temas livres na forma de resumos. Siga rigorosamente as instruções a seguir. A data limite para envio de trabalhos é 20 de maio de 2015, às 23h59.</p>
                  <h3>Informações gerais</h3>
                  <p>1. Somente será aceito material científico original, que não tenha sido previamente publicado ou apresentado em congressos anteriores da SBP. Contudo, trabalhos apresentados em outras reuniões científicas, regionais ou internacionais, podem ser submetidos.</p>
                  <p>2. É necessário que o primeiro autor, responsável pela apresentação do trabalho, esteja inscrito no Congresso. Este autor será o interlocutor com a organização e receberá toda correspondência referente ao trabalho. É importante conferir os dados pessoais e endereço. É igualmente importante se certificar, junto aos demais autores, se outra pessoa também enviou o trabalho, para evitar duplicidade.</p>
                  <p>3. Os trabalhos podem ser redigidos em português, espanhol ou inglês. Porém, qualquer que seja a língua escolhida é fundamental que esteja gramaticalmente correta, caso contrário, poderá ser motivo de recusa do resumo. Lembrar que o resumo, caso aceito, será publicado nos anais do Congresso e sua qualidade deve ser incontestável.</p>
                  <p>4. Os trabalhos devem ser submetidos exclusivamente via site. Após o cadastro, os mesmos ficarão disponíveis no site e o autor, após fazer login, poderá revê-los e modificá-los até o prazo final de submissão.</p>
                  <p>5. Os trabalhos serão divididos em duas categorias principais: I - Comunicações Científicas e II - Relatos de Casos. Também serão categorizados por área de conhecimento da Patologia, conforme lista. Eventualmente, para apresentação, alguns trabalhos poderão ser reagrupados.</p>
                  <p>6. Os Trabalhos serão avaliados anonimamente pelos membros da Comissão Científica, sendo sua decisão inapelável.</p>
                  <p>7. Depois de aceitos, os trabalhos serão selecionados para apresentação na forma de pôster ou oral. Os resumos com as comunicações científicas mais relevantes serão selecionados para apresentação oral. Estes trabalhos devem suscitar discussão que contribua significativamente para o progresso da especialidade e aprimoramento dos participantes do evento.									</p>
                </div>
              </dd>
              <dd class="accordion-navigation small-12 left"><a href="#instrucoes" class="bg-secondary small-12 left">
                  <h2 class="small-12 box-title icon-copy">Instruções para Envio / Submeter Trabalhos</h2></a>
                <div id="instrucoes" class="content small-12 left content_block"><br>
                  <h3>Instruções para envio</h3>
                  <p>1. Clicar no link SUBMETER TRABALHOS e fazer login. O autor logado no sistema será o 1º autor e seus dados já serão apresentados na tela.</p>
                  <p>2. Preencher os campos dos demais autores com nome completo, instituição, cidade, UF e país. Exemplo: JOSÉ DA SILVA, Universidade de Jupiá, Tabatinguera, MS, Brasil. </p>
                  <p>3. Título: Em letras maiúsculas; Fonte Arial 10; espaço simples; máximo de 250 caracteres, incluindo espaços (utilize o contador de palavras e letras do Word). </p>
                  <p>4. Texto: Fonte Arial 10; espaço simples; máximo de 1.800 caracteres, incluindo espaços. Não colocar o nome da instituição financiadora no corpo do resumo. Deve ser estruturado da seguinte forma: I. Comunicações Científicas: Introdução/Objetivos; Material e Métodos: Resultados/Conclusões. II. Relatos de Casos: Introdução/Objetivos (justificar em que a apresentação do caso é relevante e contribuirá para os participantes do evento); Descrição do caso (dados clínicos relevantes; dados patológicos – macro, micro, imuno, outros); Conclusões. Não inserir gráficos, tabelas ou figuras no texto.</p>
                  <p class="small-alert"><strong class="red">IMPORTANTE:</strong> Erros na formatação podem resultar na rejeição do trabalho, independente da sua qualidade. Não serão aceitas correções posteriores ao prazo de submissão dos trabalhos. A qualidade do mesmo deve ser incontestável, uma vez que resultará em publicação permanente.</p>
                </div>
              </dd>
              <dd class="accordion-navigation small-12 left"><a href="#calendario" class="bg-secondary small-12 left">
                  <h2 class="small-12 box-title icon-calendar">Calendário</h2></a>
                <div id="calendario" class="content small-12 left content_block"><br>
                  <div class="small-12 left table-custom">
                    <table class="small-12">
                      <thead class="small-12">
                        <tr>
                          <th class="small-4 bg-custom dark-gray">Data</th>
                          <th class="small-8 bg-custom dark-gray">Descrição</th>
                        </tr>
                      </thead>
                      <tbody class="small-12">
                        <tr>
                          <td class="small-4">20 de maio de 2015</td>
                          <td class="small-8">Data final para submissão de trabalhos de Temas Livres.</td>
                        </tr>
                        <tr>
                          <td class="small-4">01 de junho de 2015</td>
                          <td class="small-8">Data final para submissão de casos para o Seminário de Lâminas dos Residentes.</td>
                        </tr>
                        <tr>
                          <td class="small-4">30 de julho de 2015</td>
                          <td class="small-8">Divulgação dos trabalhos aceitos no site do congresso. O primeiro autor dos resumos não selecionados será informado por e-mail.</td>
                        </tr>
                        <tr>
                          <td class="small-4">20 de agosto de 2015</td>
                          <td class="small-8">Data final para envio do pôster, no formato pdf e com até 5 MB (megabytes), dos trabalhos que estiverem concorrendo ao prêmio Médico Residente.</td>
                        </tr>
                        <tr>
                          <td class="small-4">29 de setembro de 2015</td>
                          <td class="small-8">Divulgação da data, horário e local da apresentação oral ou do pôster no site do congresso.</td>
                        </tr>
                        <tr>
                          <td class="small-4">31 de outubro de 2015</td>
                          <td class="small-8">Divulgação e entrega dos prêmios (durante a festa de encerramento).</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </dd>
              <dd class="accordion-navigation small-12 left"><a href="#areas-de-conhecimento" class="bg-secondary small-12 left">
                  <h2 class="small-12 box-title icon-lamp">Áreas de Conhecimento</h2></a>
                <div id="areas-de-conhecimento" class="content small-12 left content_block"><br>
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
              </dd>
            </dl>
          </div>
        </div>
        <div class="small-3 columns">
          <aside>
            <h4>Realização</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Diamante</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Ouro</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Prata</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Bronze</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var local_data = { from: 'app/fluxo-trabalhos.jade', to: 'app/fluxo-trabalhos.html' }
      console.log(local_data);
      console.log(local_data.from);
      
      
    </script>
    <footer>
      <section role="banners" class="big-banners">
        <ul data-orbit="data-orbit" data-options="animation:fade; navigation_arrows:false; timer:false; slide_number:false;">
          <li class="active"><img src="images/141003-banner-footer-programacao-cientifica-1440.jpg" data-interchange="[images/141003-banner-footer-programacao-cientifica-1440.jpg, (default)], [images/141003-banner-footer-programacao-cientifica-1920.jpg, (only screen and (min-width: 1440px))]" alt="slide 2">
            <div class="row">
              <div class="orbit-caption">
                <h4>PROGRAMAÇÃO<br><span>CIENTÍFICA</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/EE964D/fff, (default)], [http://placehold.it/1920x320/EE964D/fff, (only screen and (min-width: 1440px))]" alt="slide 1">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Two&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/FDC43D/fff, (default)], [http://placehold.it/1920x320/FDC43D/fff, (only screen and (min-width: 1440px))]" alt="slide 3">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Three&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <div class="row">
        <div id="subscribe" class="small-8 columns">
          <h4>Você já se inscreveu?</h4><a href="#"><strong>veja mais informações &#8250;</strong></a>
        </div>
        <div class="small-4 columns">
          <h4 class="text-right">Inscreva-se Agora!</h4>
        </div>
      </div>
      <section role="sitemap">
        <div class="row">
          <div class="small-6 columns"><img src="images/congresso_brasileiro_patologia_white.png"><em>Agências Promotora e de Viagens:</em>
            <div class="row">
              <div class="small-5 columns"><a href="#" class="sprites-footer interevent"></a></div>
              <div class="small-5 columns end"><a href="#" class="sprites-footer diferencial"></a></div>
            </div>
          </div>
          <div class="small-3 columns">
            <ul>
              <li><a href="#" class="uppercase">Home</a></li>
              <li><a href="#" class="uppercase">O Congresso</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#">Comissão</a></li>
              <li><a href="#">Palestrantes</a></li>
              <li><a href="#">Trabalhos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#" class="uppercase">Inscrições</a></li>
              <li><a href="#" class="uppercase">Fale Conosco</a></li>
            </ul>
          </div>
          <div class="small-3 columns">
            <ul>
              <li>
                <div itemscope="itemscope" itemtype="http://schema.org/Organization">
                  <h5>contatos<span itemprop="telephone">+55 (21) 3326-3320</span></h5>
                </div>
              </li>
              <li><a href="mailto:patologia2015@interevent.com.br" itemprop="email">patologia2015@interevent.com.br</a></li>
              <li>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Av. das Americas 3500<br>Bl. Hong Kong 3000 Sl. 405</span><span itemprop="addressLocality">Barra da Tijuca -<span itemprop="addressRegion">RJ</span></span></div>
              </li>
            </ul>
            <div class="row collapse">
              <div class="small-7 small-offset-1 column">
                <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row collapse"><em>Patrocínio:</em>
          <ul class="small-block-grid-4">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-5">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-8">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
      </section>
      <section role="copyright">
        <div class="row collapse">
          <div class="small-8 columns">
            <ul class="small-block-grid-5">
              <li><em>Realização:</em></li>
              <li><a href="#" class="sprites-footer sbp"></a></li>
              <li><em>Apoio:</em></li>
              <li><a href="#" class="sprites-footer academy"></a></li>
              <li><a href="#" class="sprites-footer amb"></a></li>
            </ul>
          </div>
          <div class="small-4 columns"><small>&copy; Todos os direitos reservados a Sociedade Brasileira de Patologia</small></div>
        </div>
      </section>
    </footer>
    <!-- build:js js/vendor/libraries.min.js-->
    <!-- bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <!-- endbower-->
    <script src="js/tiny.editor.js"></script>
    <!-- endbuild-->
    <!-- build:js js/vendor/foundation.min.js-->
    <script src="bower_components/foundation/js/foundation/foundation.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.accordion.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.alert.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.clearing.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.interchange.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.magellan.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.orbit.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.reveal.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tab.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <!-- endbuild-->
    <!-- build:js js/app.min.js-->
    <script src="js/app.js"></script>
    <!-- endbuild-->
  </body>
</html>
