app/fluxo-trabalhos-submeter-3.jade
doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") TRABALHOS E SL RESIDENTES
						li
							a(href="#") TRABALHOS CIENTÍFICOS
						li.current
							a(href="#") SUBMETER RESUMOS

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") SUBMETER RESUMOS

					.small-12.blocked-title-reverse
						.small-8.left
							p Digite seu trabalho seguindo as intruções abaixo.
						.small-4.bg-custom.orange.left.grade
							strong FALTAM 20 DIAS e 10:30 HORAS
						.small-12.left.login_block.bg-primary 
							p Você pode editar o texto quantas vezes desejar até a data final de submissão.
								br
								| Quando o resumo estiver finalizado clique em “Submeter”.

					form.small-12.left
						.small-3.left.content_block.custom-small
							p Primeiro Autor:
						.small-9.left.content_block
							.row
								.small-12.columns
									input(type="text" placeholder="Nome Completo", value="André Kato Maltese")

								.small-9.columns
									input(type="text" placeholder="", value="MALTESE")

								.small-9.columns
									input(type="text" placeholder="", value="AKM")

								.small-9.columns
									input(type="text" placeholder="UNIVERSIDADE / INSTITUIÇÃO")

								.small-6.columns
									select
										option(value="") Cidade
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4

								.small-3.columns
									select
										option(value="") UF
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4

								.small-9.columns
									select
										option(value="") País
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4
								.small-3.columns

						.small-3.left.content_block.custom-small
							p Coautores:
						.small-9.left.content_block
							.row
								.small-9.columns
									input(type="text" placeholder="Nome Completo", value="José Maria de Oliveira Mendonça")
								.small-3.columns.edit
									a(href="#").icon-edit.dark-gray
									a(href="#").icon-x.red

								.small-9.columns
									input(type="text" placeholder="E-mail")
									br

								.small-9.columns
									input(type="text" placeholder="", value="Mendonça")

								.small-9.columns
									input(type="text" placeholder="", value="JMO")

								.small-9.columns
									input(type="text" placeholder="UNIVERSIDADE / INSTITUIÇÃO")

								.small-6.columns
									select
										option(value="") Cidade
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4

								.small-3.columns
									select
										option(value="") UF
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4

								.small-9.columns
									select
										option(value="") País
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4
								.small-3.columns
									button.button.bg-custom.green-grass.tiny CADASTRAR
									br
									br

						.small-3.left.content_block
						.small-9.left.content_block
							.row
								.small-9.columns
									input(type="text" placeholder="CADASTRE O PRÓXIMO COAUTOR")
								.small-3.columns.edit
									a(href="#").icon-plus.ocean

						.small-3.left.content_block.custom-small
							p Tipo do Trabalho:
						.small-9.left.content_block
							.small-6
								select
									option(value="") Patologia Mamária
									option(value="opcao1") Opção 1
									option(value="opcao2") Opção 2
									option(value="opcao3") Opção 3
									option(value="opcao4") Opção 4

						.small-3.left.content_block.custom-small
							p Área do Trabalho:
						.small-9.left.content_block
							.small-6
								select
									option(value="") Relato de Casos
									option(value="opcao1") Opção 1
									option(value="opcao2") Opção 2
									option(value="opcao3") Opção 3
									option(value="opcao4") Opção 4

						.small-3.left.content_block.custom-small
							p Título:
						.small-9.left.content_block
							.small-12
								label LETRAS MAIÚSCULAS
									span.right.red Tamanho até 250 caracteres incluindo espaços
									textarea

						.small-3.left.content_block.custom-small
							p Agência de Fomento:
						.small-9.left
							.small-12
								label 
									span.right.red Tamanho até 50 caracteres incluindo espaços
									input(type="text" placeholder="NOME DA AGÊNCIA/EMPRESA")
									| Informar aqui agência de fomento caso o trabalho tenha recebido apoio financeiro.

							.small-12.content_block
								br
								h3 Estrutura:
								ul
									li Introdução/Objetivos - Justificar em que a apresentação do seu caso é relevante e contribuirá para os participantes do evento.
									li Material e Métodos - Dados clínicos relevantesl; dados patológicos relevantes; macro; micro; imuno; outros.
									li Conclusões

							.small-12.login_block.bg-primary
								p Abaixo digite o texto do Resumo obedecendo a estrutura. A quantidade de caracteres é exibida acima do texto à direita. O texto será salvo automaticamente a cada 5 minutos. Para salvar a qualquer momento clique em “Salvar”.

						.small-3.left.content_block.custom-small
							p Texto:
						.small-9.left.content_block
							.small-12
								label 
									button.button.secondary SALVAR
									span.right.red Tamanho até 250 caracteres incluindo espaços
									textarea
						.small-12.left.login_block.bg-custom.red-blood
							p IMPORTANTE: Erros na forma poderão resultar na rejeição do resumo, independentemente da sua qualidade. Não serão solicitadas correções, não serão aceitas correções posteriores à submissão dos resumos. A qualidade do resumo deve ser incontestável, uma vez que resultará em publicação permanente.

						.small-12.left.content_block
							button.button.bg-custom.dark-gray VOLTAR
							button.right.button.bg-custom.green-grass(data-reveal-id="modal-submit-ok") SUBMETER RESUMO

				.small-3.columns
					include sidebar

				//- Modal para submit
				include modal-submit-ok

		include footer

dist/fluxo-trabalhos-submeter-3.html
<!DOCTYPE html>
<html lang="pt" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>30 Congresso Brasileiro de Patologia | 29 de Outubro a 01 de Novembro</title>

    <link rel="stylesheet" href="css/app.min.css"/>
    <script src="js/vendor/modernizr.min.js"></script>
  </head>
  <body>
    <header>
      <div data-equalizer="data-equalizer" class="row">
        <div data-equalizer-watch="data-equalizer-watch" class="small-4 columns">
          <div itemscope="itemscope" itemtype="http://schema.org/Organization"><a itemprop="url" href="http://congressodepatologia.org.br/"><img itemprop="logo" src="images/congresso_brasileiro_patologia.png" alt="30 Congresso Brasileiro de Patologia"></a></div>
        </div>
        <div id="data" data-equalizer-watch="data-equalizer-watch" class="small-6 columns"><img src="images/data_congresso.png" alt="De 29 de Outubro a 01 de Novembro"></div>
        <div id="login" data-equalizer-watch="data-equalizer-watch" class="small-2 columns">
          <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
          <ul class="inline-list">
            <li><a href="#">login</a></li>
            <li><a href="#">cadastre-se</a></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <nav id="mainNav">
            <ul class="inline-list">
              <li><a href="#">Home</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#" data-dropdown="drop-trabalhos">Trabalhos e SL de Residentes</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <section role="fixed-navigation">
        <div class="row">
          <div class="small-12 columns"></div>
          <nav>
            <ul class="inline-list">
              <li><a href="#" class="logo">30 Congresso Brasileiro de Patologia</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Associados Eméritos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section role="dropdown-container">
        <div class="row">
          <ul id="drop-congresso" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
        <div class="row">
          <ul id="drop-trabalhos" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
      </section>
    </header>
    <div id="content" role="content">
      <div class="row">
        <nav id="breadcrumbs" class="small-12 columns">
          <ul class="breadcrumbs">
            <li><a href=".">Home</a></li>
            <li><a href="#">TRABALHOS E SL RESIDENTES</a></li>
            <li><a href="#">TRABALHOS CIENTÍFICOS</a></li>
            <li class="current"><a href="#">SUBMETER RESUMOS</a></li>
          </ul>
        </nav>
        <div class="small-9 columns">
          <div id="page-title" class="small-12">
            <h1><a href="#">SUBMETER RESUMOS</a></h1>
          </div>
          <div class="small-12 blocked-title-reverse">
            <div class="small-8 left">
              <p>Digite seu trabalho seguindo as intruções abaixo.</p>
            </div>
            <div class="small-4 bg-custom orange left grade"><strong>FALTAM 20 DIAS e 10:30 HORAS</strong></div>
            <div class="small-12 left login_block bg-primary">
              <p>Você pode editar o texto quantas vezes desejar até a data final de submissão.<br>Quando o resumo estiver finalizado clique em “Submeter”.</p>
            </div>
          </div>
          <form class="small-12 left">
            <div class="small-3 left content_block custom-small">
              <p>Primeiro Autor:</p>
            </div>
            <div class="small-9 left content_block">
              <div class="row">
                <div class="small-12 columns">
                  <input type="text" placeholder="Nome Completo" value="André Kato Maltese">
                </div>
                <div class="small-9 columns">
                  <input type="text" placeholder="" value="MALTESE">
                </div>
                <div class="small-9 columns">
                  <input type="text" placeholder="" value="AKM">
                </div>
                <div class="small-9 columns">
                  <input type="text" placeholder="UNIVERSIDADE / INSTITUIÇÃO">
                </div>
                <div class="small-6 columns">
                  <select>
                    <option value="">Cidade</option>
                    <option value="opcao1">Opção 1</option>
                    <option value="opcao2">Opção 2</option>
                    <option value="opcao3">Opção 3</option>
                    <option value="opcao4">Opção 4</option>
                  </select>
                </div>
                <div class="small-3 columns">
                  <select>
                    <option value="">UF</option>
                    <option value="opcao1">Opção 1</option>
                    <option value="opcao2">Opção 2</option>
                    <option value="opcao3">Opção 3</option>
                    <option value="opcao4">Opção 4</option>
                  </select>
                </div>
                <div class="small-9 columns">
                  <select>
                    <option value="">País</option>
                    <option value="opcao1">Opção 1</option>
                    <option value="opcao2">Opção 2</option>
                    <option value="opcao3">Opção 3</option>
                    <option value="opcao4">Opção 4</option>
                  </select>
                </div>
                <div class="small-3 columns"></div>
              </div>
            </div>
            <div class="small-3 left content_block custom-small">
              <p>Coautores:</p>
            </div>
            <div class="small-9 left content_block">
              <div class="row">
                <div class="small-9 columns">
                  <input type="text" placeholder="Nome Completo" value="José Maria de Oliveira Mendonça">
                </div>
                <div class="small-3 columns edit"><a href="#" class="icon-edit dark-gray"></a><a href="#" class="icon-x red"></a></div>
                <div class="small-9 columns">
                  <input type="text" placeholder="E-mail"><br>
                </div>
                <div class="small-9 columns">
                  <input type="text" placeholder="" value="Mendonça">
                </div>
                <div class="small-9 columns">
                  <input type="text" placeholder="" value="JMO">
                </div>
                <div class="small-9 columns">
                  <input type="text" placeholder="UNIVERSIDADE / INSTITUIÇÃO">
                </div>
                <div class="small-6 columns">
                  <select>
                    <option value="">Cidade</option>
                    <option value="opcao1">Opção 1</option>
                    <option value="opcao2">Opção 2</option>
                    <option value="opcao3">Opção 3</option>
                    <option value="opcao4">Opção 4</option>
                  </select>
                </div>
                <div class="small-3 columns">
                  <select>
                    <option value="">UF</option>
                    <option value="opcao1">Opção 1</option>
                    <option value="opcao2">Opção 2</option>
                    <option value="opcao3">Opção 3</option>
                    <option value="opcao4">Opção 4</option>
                  </select>
                </div>
                <div class="small-9 columns">
                  <select>
                    <option value="">País</option>
                    <option value="opcao1">Opção 1</option>
                    <option value="opcao2">Opção 2</option>
                    <option value="opcao3">Opção 3</option>
                    <option value="opcao4">Opção 4</option>
                  </select>
                </div>
                <div class="small-3 columns">
                  <button class="button bg-custom green-grass tiny">CADASTRAR</button><br><br>
                </div>
              </div>
            </div>
            <div class="small-3 left content_block"></div>
            <div class="small-9 left content_block">
              <div class="row">
                <div class="small-9 columns">
                  <input type="text" placeholder="CADASTRE O PRÓXIMO COAUTOR">
                </div>
                <div class="small-3 columns edit"><a href="#" class="icon-plus ocean"></a></div>
              </div>
            </div>
            <div class="small-3 left content_block custom-small">
              <p>Tipo do Trabalho:</p>
            </div>
            <div class="small-9 left content_block">
              <div class="small-6">
                <select>
                  <option value="">Patologia Mamária</option>
                  <option value="opcao1">Opção 1</option>
                  <option value="opcao2">Opção 2</option>
                  <option value="opcao3">Opção 3</option>
                  <option value="opcao4">Opção 4</option>
                </select>
              </div>
            </div>
            <div class="small-3 left content_block custom-small">
              <p>Área do Trabalho:</p>
            </div>
            <div class="small-9 left content_block">
              <div class="small-6">
                <select>
                  <option value="">Relato de Casos</option>
                  <option value="opcao1">Opção 1</option>
                  <option value="opcao2">Opção 2</option>
                  <option value="opcao3">Opção 3</option>
                  <option value="opcao4">Opção 4</option>
                </select>
              </div>
            </div>
            <div class="small-3 left content_block custom-small">
              <p>Título:</p>
            </div>
            <div class="small-9 left content_block">
              <div class="small-12">
                <label>LETRAS MAIÚSCULAS<span class="right red">Tamanho até 250 caracteres incluindo espaços</span>
                  <textarea></textarea>
                </label>
              </div>
            </div>
            <div class="small-3 left content_block custom-small">
              <p>Agência de Fomento:</p>
            </div>
            <div class="small-9 left">
              <div class="small-12">
                <label><span class="right red">Tamanho até 50 caracteres incluindo espaços</span>
                  <input type="text" placeholder="NOME DA AGÊNCIA/EMPRESA">Informar aqui agência de fomento caso o trabalho tenha recebido apoio financeiro.
                </label>
              </div>
              <div class="small-12 content_block"><br>
                <h3>Estrutura:</h3>
                <ul>
                  <li>Introdução/Objetivos - Justificar em que a apresentação do seu caso é relevante e contribuirá para os participantes do evento.</li>
                  <li>Material e Métodos - Dados clínicos relevantesl; dados patológicos relevantes; macro; micro; imuno; outros.</li>
                  <li>Conclusões</li>
                </ul>
              </div>
              <div class="small-12 login_block bg-primary">
                <p>Abaixo digite o texto do Resumo obedecendo a estrutura. A quantidade de caracteres é exibida acima do texto à direita. O texto será salvo automaticamente a cada 5 minutos. Para salvar a qualquer momento clique em “Salvar”.</p>
              </div>
            </div>
            <div class="small-3 left content_block custom-small">
              <p>Texto:</p>
            </div>
            <div class="small-9 left content_block">
              <div class="small-12">
                <label>
                  <button class="button secondary">SALVAR</button><span class="right red">Tamanho até 250 caracteres incluindo espaços</span>
                  <textarea></textarea>
                </label>
              </div>
            </div>
            <div class="small-12 left login_block bg-custom red-blood">
              <p>IMPORTANTE: Erros na forma poderão resultar na rejeição do resumo, independentemente da sua qualidade. Não serão solicitadas correções, não serão aceitas correções posteriores à submissão dos resumos. A qualidade do resumo deve ser incontestável, uma vez que resultará em publicação permanente.</p>
            </div>
            <div class="small-12 left content_block">
              <button class="button bg-custom dark-gray">VOLTAR</button>
              <button data-reveal-id="modal-submit-ok" class="right button bg-custom green-grass">SUBMETER RESUMO</button>
            </div>
          </form>
        </div>
        <div class="small-3 columns">
          <aside>
            <h4>Realização</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Diamante</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Ouro</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Prata</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Bronze</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
          </aside>
        </div>
        <div id="modal-submit-ok" data-reveal class="reveal-modal modal-custom">
          <div class="small-12 left bg-secondary">
            <h2 class="small-12 box-title icon-alert">SUBMETER RESUMO</h2>
          </div>
          <div class="small-12 left text">
            <p>Este trabalho poderá ser revisto e modificado até o prazo final de submissão.</p>
          </div>
          <div class="small-12 left buttons"><a href="#" class="close-reveal-modal button small-4 left bg-custom gray">CANCELAR</a><a href="#" class="button small-8 left bg-secondary">SUBMETER</a></div>
        </div>
      </div>
    </div>
    <footer>
      <section role="banners" class="big-banners">
        <ul data-orbit="data-orbit" data-options="animation:fade; navigation_arrows:false; timer:false; slide_number:false;">
          <li class="active"><img src="images/141003-banner-footer-programacao-cientifica-1440.jpg" data-interchange="[images/141003-banner-footer-programacao-cientifica-1440.jpg, (default)], [images/141003-banner-footer-programacao-cientifica-1920.jpg, (only screen and (min-width: 1440px))]" alt="slide 2">
            <div class="row">
              <div class="orbit-caption">
                <h4>PROGRAMAÇÃO<br><span>CIENTÍFICA</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/EE964D/fff, (default)], [http://placehold.it/1920x320/EE964D/fff, (only screen and (min-width: 1440px))]" alt="slide 1">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Two&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/FDC43D/fff, (default)], [http://placehold.it/1920x320/FDC43D/fff, (only screen and (min-width: 1440px))]" alt="slide 3">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Three&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <div class="row">
        <div id="subscribe" class="small-8 columns">
          <h4>Você já se inscreveu?</h4><a href="#"><strong>veja mais informações &#8250;</strong></a>
        </div>
        <div class="small-4 columns">
          <h4 class="text-right">Inscreva-se Agora!</h4>
        </div>
      </div>
      <section role="sitemap">
        <div class="row">
          <div class="small-6 columns"><img src="images/congresso_brasileiro_patologia_white.png"><em>Agências Promotora e de Viagens:</em>
            <div class="row">
              <div class="small-5 columns"><a href="#" class="sprites-footer interevent"></a></div>
              <div class="small-5 columns end"><a href="#" class="sprites-footer diferencial"></a></div>
            </div>
          </div>
          <div class="small-3 columns">
            <ul>
              <li><a href="#" class="uppercase">Home</a></li>
              <li><a href="#" class="uppercase">O Congresso</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#">Comissão</a></li>
              <li><a href="#">Palestrantes</a></li>
              <li><a href="#">Trabalhos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#" class="uppercase">Inscrições</a></li>
              <li><a href="#" class="uppercase">Fale Conosco</a></li>
            </ul>
          </div>
          <div class="small-3 columns">
            <ul>
              <li>
                <div itemscope="itemscope" itemtype="http://schema.org/Organization">
                  <h5>contatos<span itemprop="telephone">+55 (21) 3326-3320</span></h5>
                </div>
              </li>
              <li><a href="mailto:patologia2015@interevent.com.br" itemprop="email">patologia2015@interevent.com.br</a></li>
              <li>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Av. das Americas 3500<br>Bl. Hong Kong 3000 Sl. 405</span><span itemprop="addressLocality">Barra da Tijuca -<span itemprop="addressRegion">RJ</span></span></div>
              </li>
            </ul>
            <div class="row collapse">
              <div class="small-7 small-offset-1 column">
                <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row collapse"><em>Patrocínio:</em>
          <ul class="small-block-grid-4">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-5">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-8">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
      </section>
      <section role="copyright">
        <div class="row collapse">
          <div class="small-8 columns">
            <ul class="small-block-grid-5">
              <li><em>Realização:</em></li>
              <li><a href="#" class="sprites-footer sbp"></a></li>
              <li><em>Apoio:</em></li>
              <li><a href="#" class="sprites-footer academy"></a></li>
              <li><a href="#" class="sprites-footer amb"></a></li>
            </ul>
          </div>
          <div class="small-4 columns"><small>&copy; Todos os direitos reservados a Sociedade Brasileira de Patologia</small></div>
        </div>
      </section>
    </footer>
    <script src="js/vendor/libraries.min.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script src="js/app.min.js"></script>
  </body>
</html>
