app/grade-cientifica.jade
doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Programação Científica

				div(class="small-9 columns")
					div#page-title(class="small-12")
						h1
							a(href="#") Programação Científica
					div.sub-category-menu
						a(href="/informacoes.html").button.current Grade Científica
						a(href="/informacoes-viagem.html").button Programação Científica
						a(href="/informacoes-agencia.html").button Programação Social
					
					form.row
						legend.small-12.column Filtrar por:
						.small-4.columns
							select(tabindex='2')
								option(disabled selected) DATA
								each val, key in  {'value1': 'Option 1', 'value2': 'Option 2', 'value3': 'Option 3'}
									option(value=key)= val
						.small-4.columns
							select(tabindex='2')
								option(disabled selected) HORÁRIO
								each val, key in  {'value1': 'Option 1', 'value2': 'Option 2', 'value3': 'Option 3'}
									option(value=key)= val
						.small-4.columns
							select(tabindex='2')
								option(disabled selected) TEMA
								each val, key in  {'value1': 'Option 1', 'value2': 'Option 2', 'value3': 'Option 3'}
									option(value=key)= val
					.row
						.small-12.columns
							span.legendas.red (CF) Conferência - 1h (não é necessário se inscrever)
							span.legendas.gray (CC) Curso Curto - 2h30
							span.legendas.green (CL) Curso Longo - 4h
							span.legendas.yellow (MR) Mesa Redonda - 1h30 (não é necessário se inscrever)
							span.legendas.blue (MS) Minissimpósio - 2h
							span.legendas.purple (SL) Seminário de Lâminas - 2h
					
					.row.grid-programacao
						.small-12.column
							h3.box-title.bg-secondary 29/10/15

						.small-12.columns
							| &nbsp;

						.small-2.columns
							h4 horario
						.small-10.columns
							h4 atividades

						.small-2.columns
							.panel
								strong 14:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante
						
						.small-2.columns
							.panel
								strong 16:30
						.small-10.columns
							ul.small-block-grid-1
								li
									.panel.invert.text-center
										| Intervalo

						.small-2.columns
							.panel
								strong 17:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.red
										| CL - Neuropatologia
								li
									.panel
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.yellow
										| CC - Neuropatologia
								li
									.panel
										| SL - Nefropatologia - Patologia de Transplante

						.small-2.columns
							.panel
								strong 20:00
						.small-10.columns
							ul.small-block-grid-1
								li
									.panel
										strong Abertura

						.small-2.columns
							.panel
								strong 21:00
						.small-10.columns
							ul.small-block-grid-1
								li
									.panel
										strong Coquetel

					.row.grid-programacao
						.small-12.column
							h3.box-title.bg-secondary 29/10/15

						.small-12.columns
							| &nbsp;

						.small-2.columns
							h4 horario
						.small-10.columns
							h4 atividades

						.small-2.columns
							.panel
								strong 14:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante
						
						.small-2.columns
							.panel
								strong 16:30
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante

						.small-2.columns
							.panel
								strong 17:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.red
										| CL - Neuropatologia
								li
									.panel
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.yellow
										| CC - Neuropatologia
								li
									.panel
										| SL - Nefropatologia - Patologia de Transplante

						.small-2.columns
							.panel
								strong 20:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante

						.small-2.columns
							.panel
								strong 21:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante

					.row.grid-programacao
						.small-12.column
							h3.box-title.bg-secondary 29/10/15

						.small-12.columns
							| &nbsp;

						.small-2.columns
							h4 horario
						.small-10.columns
							h4 atividades

						.small-2.columns
							.panel
								strong 14:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante
						
						.small-2.columns
							.panel
								strong 16:30
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante

						.small-2.columns
							.panel
								strong 17:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.red
										| CL - Neuropatologia
								li
									.panel
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.yellow
										| CC - Neuropatologia
								li
									.panel
										| SL - Nefropatologia - Patologia de Transplante

						.small-2.columns
							.panel
								strong 20:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante

						.small-2.columns
							.panel
								strong 21:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante
				div(class="small-3 columns")
					include sidebar
		include footer

app/grade-cientifica.html
<!DOCTYPE html>
<html lang="pt" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>30 Congresso Brasileiro de Patologia | 29 de Outubro a 01 de Novembro</title>
    <!-- build:css css/libraries.min.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:css css/app.min.css-->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/app_override.css">
    <!-- endbuild-->
    <!-- build:js js/vendor/modernizr.min.js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild-->
  </head>
  <body>
    <header>
      <div data-equalizer="data-equalizer" class="row">
        <div data-equalizer-watch="data-equalizer-watch" class="small-4 columns">
          <div itemscope="itemscope" itemtype="http://schema.org/Organization"><a itemprop="url" href="http://congressodepatologia.org.br/"><img itemprop="logo" src="images/congresso_brasileiro_patologia.png" alt="30 Congresso Brasileiro de Patologia"></a></div>
        </div>
        <div id="data" data-equalizer-watch="data-equalizer-watch" class="small-6 columns"><img src="images/data_congresso.png" alt="De 29 de Outubro a 01 de Novembro"></div>
        <div id="login" data-equalizer-watch="data-equalizer-watch" class="small-2 columns">
          <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
          <ul class="inline-list">
            <li><a href="#">login</a></li>
            <li><a href="#">cadastre-se</a></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <nav id="mainNav">
            <ul class="inline-list">
              <li><a href="#">Home</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#" data-dropdown="drop-trabalhos">Trabalhos e SL de Residentes</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <section role="fixed-navigation">
        <div class="row">
          <div class="small-12 columns"></div>
          <nav>
            <ul class="inline-list">
              <li><a href="#" class="logo">30 Congresso Brasileiro de Patologia</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Associados Eméritos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section role="dropdown-container">
        <div class="row">
          <ul id="drop-congresso" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
        <div class="row">
          <ul id="drop-trabalhos" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
      </section>
    </header>
    <div id="content" role="content">
      <div class="row">
        <nav id="breadcrumbs" class="small-12 columns">
          <ul class="breadcrumbs">
            <li><a href=".">Home</a></li>
            <li class="current"><a href="#">Programação Científica</a></li>
          </ul>
        </nav>
        <div class="small-9 columns">
          <div id="page-title" class="small-12">
            <h1><a href="#">Programação Científica</a></h1>
          </div>
          <div class="sub-category-menu"><a href="/informacoes.html" class="button current">Grade Científica</a><a href="/informacoes-viagem.html" class="button">Programação Científica</a><a href="/informacoes-agencia.html" class="button">Programação Social</a></div>
          <form class="row">
            <legend class="small-12 column">Filtrar por:</legend>
            <div class="small-4 columns">
              <select tabindex="2">
                <option disabled selected>DATA</option>
                <option value="value1">Option 1</option>
                <option value="value2">Option 2</option>
                <option value="value3">Option 3</option>
              </select>
            </div>
            <div class="small-4 columns">
              <select tabindex="2">
                <option disabled selected>HORÁRIO</option>
                <option value="value1">Option 1</option>
                <option value="value2">Option 2</option>
                <option value="value3">Option 3</option>
              </select>
            </div>
            <div class="small-4 columns">
              <select tabindex="2">
                <option disabled selected>TEMA</option>
                <option value="value1">Option 1</option>
                <option value="value2">Option 2</option>
                <option value="value3">Option 3</option>
              </select>
            </div>
          </form>
          <div class="row">
            <div class="small-12 columns"><span class="legendas red">(CF) Conferência - 1h (não é necessário se inscrever)</span><span class="legendas gray">(CC) Curso Curto - 2h30</span><span class="legendas green">(CL) Curso Longo - 4h</span><span class="legendas yellow">(MR) Mesa Redonda - 1h30 (não é necessário se inscrever)</span><span class="legendas blue">(MS) Minissimpósio - 2h</span><span class="legendas purple">(SL) Seminário de Lâminas - 2h</span></div>
          </div>
          <div class="row grid-programacao">
            <div class="small-12 column">
              <h3 class="box-title bg-secondary">29/10/15</h3>
            </div>
            <div class="small-12 columns">&nbsp;</div>
            <div class="small-2 columns">
              <h4>horario</h4>
            </div>
            <div class="small-10 columns">
              <h4>atividades</h4>
            </div>
            <div class="small-2 columns">
              <div class="panel"><strong>14:00</strong></div>
            </div>
            <div class="small-10 columns">
              <div class="ul small-block-grid-5">
                <li>
                  <div class="panel">CC - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel bg-custom green">CL - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom blue">MS - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel">CC - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom purple">SL - Nefropatologia - Patologia de Transplante</div>
                </li>
              </div>
            </div>
            <div class="small-2 columns">
              <div class="panel"><strong>16:30</strong></div>
            </div>
            <div class="small-10 columns">
              <ul class="small-block-grid-1">
                <li>
                  <div class="panel invert text-center">Intervalo</div>
                </li>
              </ul>
            </div>
            <div class="small-2 columns">
              <div class="panel"><strong>17:00</strong></div>
            </div>
            <div class="small-10 columns">
              <div class="ul small-block-grid-5">
                <li>
                  <div class="panel">CC - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel bg-custom red">CL - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel">MS - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel bg-custom yellow">CC - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel">SL - Nefropatologia - Patologia de Transplante</div>
                </li>
              </div>
            </div>
            <div class="small-2 columns">
              <div class="panel"><strong>20:00</strong></div>
            </div>
            <div class="small-10 columns">
              <ul class="small-block-grid-1">
                <li>
                  <div class="panel"><strong>Abertura</strong></div>
                </li>
              </ul>
            </div>
            <div class="small-2 columns">
              <div class="panel"><strong>21:00</strong></div>
            </div>
            <div class="small-10 columns">
              <ul class="small-block-grid-1">
                <li>
                  <div class="panel"><strong>Coquetel</strong></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="row grid-programacao">
            <div class="small-12 column">
              <h3 class="box-title bg-secondary">29/10/15</h3>
            </div>
            <div class="small-12 columns">&nbsp;</div>
            <div class="small-2 columns">
              <h4>horario</h4>
            </div>
            <div class="small-10 columns">
              <h4>atividades</h4>
            </div>
            <div class="small-2 columns">
              <div class="panel"><strong>14:00</strong></div>
            </div>
            <div class="small-10 columns">
              <div class="ul small-block-grid-5">
                <li>
                  <div class="panel">CC - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel bg-custom green">CL - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom blue">MS - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel">CC - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom purple">SL - Nefropatologia - Patologia de Transplante</div>
                </li>
              </div>
            </div>
            <div class="small-2 columns">
              <div class="panel"><strong>16:30</strong></div>
            </div>
            <div class="small-10 columns">
              <div class="ul small-block-grid-5">
                <li>
                  <div class="panel">CC - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel bg-custom green">CL - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom blue">MS - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel">CC - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom purple">SL - Nefropatologia - Patologia de Transplante</div>
                </li>
              </div>
            </div>
            <div class="small-2 columns">
              <div class="panel"><strong>17:00</strong></div>
            </div>
            <div class="small-10 columns">
              <div class="ul small-block-grid-5">
                <li>
                  <div class="panel">CC - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel bg-custom red">CL - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel">MS - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel bg-custom yellow">CC - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel">SL - Nefropatologia - Patologia de Transplante</div>
                </li>
              </div>
            </div>
            <div class="small-2 columns">
              <div class="panel"><strong>20:00</strong></div>
            </div>
            <div class="small-10 columns">
              <div class="ul small-block-grid-5">
                <li>
                  <div class="panel">CC - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel bg-custom green">CL - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom blue">MS - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel">CC - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom purple">SL - Nefropatologia - Patologia de Transplante</div>
                </li>
              </div>
            </div>
            <div class="small-2 columns">
              <div class="panel"><strong>21:00</strong></div>
            </div>
            <div class="small-10 columns">
              <div class="ul small-block-grid-5">
                <li>
                  <div class="panel">CC - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel bg-custom green">CL - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom blue">MS - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel">CC - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom purple">SL - Nefropatologia - Patologia de Transplante</div>
                </li>
              </div>
            </div>
          </div>
          <div class="row grid-programacao">
            <div class="small-12 column">
              <h3 class="box-title bg-secondary">29/10/15</h3>
            </div>
            <div class="small-12 columns">&nbsp;</div>
            <div class="small-2 columns">
              <h4>horario</h4>
            </div>
            <div class="small-10 columns">
              <h4>atividades</h4>
            </div>
            <div class="small-2 columns">
              <div class="panel"><strong>14:00</strong></div>
            </div>
            <div class="small-10 columns">
              <div class="ul small-block-grid-5">
                <li>
                  <div class="panel">CC - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel bg-custom green">CL - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom blue">MS - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel">CC - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom purple">SL - Nefropatologia - Patologia de Transplante</div>
                </li>
              </div>
            </div>
            <div class="small-2 columns">
              <div class="panel"><strong>16:30</strong></div>
            </div>
            <div class="small-10 columns">
              <div class="ul small-block-grid-5">
                <li>
                  <div class="panel">CC - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel bg-custom green">CL - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom blue">MS - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel">CC - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom purple">SL - Nefropatologia - Patologia de Transplante</div>
                </li>
              </div>
            </div>
            <div class="small-2 columns">
              <div class="panel"><strong>17:00</strong></div>
            </div>
            <div class="small-10 columns">
              <div class="ul small-block-grid-5">
                <li>
                  <div class="panel">CC - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel bg-custom red">CL - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel">MS - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel bg-custom yellow">CC - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel">SL - Nefropatologia - Patologia de Transplante</div>
                </li>
              </div>
            </div>
            <div class="small-2 columns">
              <div class="panel"><strong>20:00</strong></div>
            </div>
            <div class="small-10 columns">
              <div class="ul small-block-grid-5">
                <li>
                  <div class="panel">CC - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel bg-custom green">CL - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom blue">MS - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel">CC - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom purple">SL - Nefropatologia - Patologia de Transplante</div>
                </li>
              </div>
            </div>
            <div class="small-2 columns">
              <div class="panel"><strong>21:00</strong></div>
            </div>
            <div class="small-10 columns">
              <div class="ul small-block-grid-5">
                <li>
                  <div class="panel">CC - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel bg-custom green">CL - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom blue">MS - Nefropatologia - Patologia de Transplante</div>
                </li>
                <li>
                  <div class="panel">CC - Neuropatologia</div>
                </li>
                <li>
                  <div class="panel bg-custom purple">SL - Nefropatologia - Patologia de Transplante</div>
                </li>
              </div>
            </div>
          </div>
        </div>
        <div class="small-3 columns">
          <aside>
            <h4>Realização</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Diamante</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Ouro</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Prata</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Bronze</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var local_data = { from: 'app/grade-cientifica.jade', to: 'app/grade-cientifica.html' }
      console.log(local_data);
      console.log(local_data.from);
      
      
    </script>
    <footer>
      <section role="banners" class="big-banners">
        <ul data-orbit="data-orbit" data-options="animation:fade; navigation_arrows:false; timer:false; slide_number:false;">
          <li class="active"><img src="images/141003-banner-footer-programacao-cientifica-1440.jpg" data-interchange="[images/141003-banner-footer-programacao-cientifica-1440.jpg, (default)], [images/141003-banner-footer-programacao-cientifica-1920.jpg, (only screen and (min-width: 1440px))]" alt="slide 2">
            <div class="row">
              <div class="orbit-caption">
                <h4>PROGRAMAÇÃO<br><span>CIENTÍFICA</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/EE964D/fff, (default)], [http://placehold.it/1920x320/EE964D/fff, (only screen and (min-width: 1440px))]" alt="slide 1">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Two&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/FDC43D/fff, (default)], [http://placehold.it/1920x320/FDC43D/fff, (only screen and (min-width: 1440px))]" alt="slide 3">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Three&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <div class="row">
        <div id="subscribe" class="small-8 columns">
          <h4>Você já se inscreveu?</h4><a href="#"><strong>veja mais informações &#8250;</strong></a>
        </div>
        <div class="small-4 columns">
          <h4 class="text-right">Inscreva-se Agora!</h4>
        </div>
      </div>
      <section role="sitemap">
        <div class="row">
          <div class="small-6 columns"><img src="images/congresso_brasileiro_patologia_white.png"><em>Agências Promotora e de Viagens:</em>
            <div class="row">
              <div class="small-5 columns"><a href="#" class="sprites-footer interevent"></a></div>
              <div class="small-5 columns end"><a href="#" class="sprites-footer diferencial"></a></div>
            </div>
          </div>
          <div class="small-3 columns">
            <ul>
              <li><a href="#" class="uppercase">Home</a></li>
              <li><a href="#" class="uppercase">O Congresso</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#">Comissão</a></li>
              <li><a href="#">Palestrantes</a></li>
              <li><a href="#">Trabalhos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#" class="uppercase">Inscrições</a></li>
              <li><a href="#" class="uppercase">Fale Conosco</a></li>
            </ul>
          </div>
          <div class="small-3 columns">
            <ul>
              <li>
                <div itemscope="itemscope" itemtype="http://schema.org/Organization">
                  <h5>contatos<span itemprop="telephone">+55 (21) 3326-3320</span></h5>
                </div>
              </li>
              <li><a href="mailto:patologia2015@interevent.com.br" itemprop="email">patologia2015@interevent.com.br</a></li>
              <li>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Av. das Americas 3500<br>Bl. Hong Kong 3000 Sl. 405</span><span itemprop="addressLocality">Barra da Tijuca -<span itemprop="addressRegion">RJ</span></span></div>
              </li>
            </ul>
            <div class="row collapse">
              <div class="small-7 small-offset-1 column">
                <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row collapse"><em>Patrocínio:</em>
          <ul class="small-block-grid-4">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-5">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-8">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
      </section>
      <section role="copyright">
        <div class="row collapse">
          <div class="small-8 columns">
            <ul class="small-block-grid-5">
              <li><em>Realização:</em></li>
              <li><a href="#" class="sprites-footer sbp"></a></li>
              <li><em>Apoio:</em></li>
              <li><a href="#" class="sprites-footer academy"></a></li>
              <li><a href="#" class="sprites-footer amb"></a></li>
            </ul>
          </div>
          <div class="small-4 columns"><small>&copy; Todos os direitos reservados a Sociedade Brasileira de Patologia</small></div>
        </div>
      </section>
    </footer>
    <!-- build:js js/vendor/libraries.min.js-->
    <!-- bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <!-- endbower-->
    <script src="js/tiny.editor.js"></script>
    <!-- endbuild-->
    <!-- build:js js/vendor/foundation.min.js-->
    <script src="bower_components/foundation/js/foundation/foundation.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.accordion.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.alert.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.clearing.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.interchange.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.magellan.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.orbit.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.reveal.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tab.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <!-- endbuild-->
    <!-- build:js js/app.min.js-->
    <script src="js/app.js"></script>
    <!-- endbuild-->
  </body>
</html>
