app/index.jade
doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		section.big-banners(role="banners")
			ul(data-orbit='data-orbit' data-options='animation:fade; navigation_arrows:false; timer:false; slide_number:false;')
				li.active
					img(src="images/141003-banner-home-convention-center-1440.jpg" data-interchange="[images/141003-banner-home-convention-center-1440.jpg, (default)], [images/141003-banner-home-convention-center-1920.jpg, (only screen and (min-width: 1440px))]", alt='slide 2')
					.row
						.orbit-caption
							h4 CONVENTION CENTER 
								br
								span FREI CANECA
							br
							a(href="#")
								strong Realização SBP. Veja mais informações &#8250;
				li
					img(src="images/141003-banner-home-sao-paulo-1440.jpg" data-interchange="[images/141003-banner-home-sao-paulo-1440.jpg, (default)], [images/141003-banner-home-sao-paulo-1920.jpg, (only screen and (min-width: 1440px))]", alt='slide 1')
					.row
						.orbit-caption
							h4 CONHEÇA &nbsp;
								br
								span SÃO PAULO
							br
							a(href="#")
								strong veja a programação completa &#8250;
				li
					img(src="images/141003-banner-home-palestrantes-1440.jpg" data-interchange="[images/141003-banner-home-palestrantes-1440.jpg, (default)], [images/141003-banner-home-palestrantes-1920.jpg, (only screen and (min-width: 1440px))]", alt='slide 3')
					.row
						.orbit-caption
							h4 PALESTRANTES 
								br
								span CONFIRMADOS
							br
							a(href="#")
								strong veja a programação completa &#8250;		
		div#content(role="content")
			.row
				.small-9.columns
					.content_block
						h1
							| 30&deg; congresso
							span brasileiro de patologia
						p
							| Patologia: novos paradigmas para o avanço da medicina
							br
							| A medicina personalizada talvez seja o principal paradigma da medicina atual, na qual, a Anatomia Patológica, por meio de estudos genéticos, moleculares e genômicos, atua de forma decisiva na condução diagnóstica e prognóstica dos pacientes.
						p
							| Outros paradigmas relacionam-se com a gestão laboratorial e o ensino da Patologia, notadamente nesse último, por meio de modificações curriculares no ensino da Anatomia Patológica e, consequente déficit de novos especialistas, determinando o estabelecimento de novas políticas de ensino e gestão laboratorial.
						a(href="#") Realização SBP. Leia Mais &rsaquo;
					.content_block
						h2
							| mensagem do
							span presidente
						p
							| É com grande prazer que venho convidá-lo(a) para participar do 30º Congresso Brasileiro de Patologia, que será relizado no Centro de Convenções Frei Caneca, em São Paulo, no período de 29 de outubro a 01 de novembro de 2015. 
						p
							| O evento está sendo organizado pela diretoria da Sociedade Brasileira de Patologia e, pela primeira vez, será realizado na cidade de São Paulo, que é o principal centro corporativo, financeiro e mercantil da América do Sul, oferecendo grande variedade de lazer, cultura e entretenimento.
						a(href="#") Realização SBP. Leia Mais &rsaquo;
				.small-3.columns
					include sidebar
			.row
				.line
				ul.small-block-grid-1.medium-block-grid-3.img-anchor-list
					li 
						img(src='images/box-1-comissoes.jpg')
						a(href='#') Leia mais...
					li 
						img(src='images/box-2-palestrantes.jpg')
						a(href='#') Leia mais...
					li 
						img(src='images/box-3-seminarios.jpg')
						a(href='#') Leia mais...
			.row
				.content_block
					h2
						| datas
						span importantes
					ul.small-block-grid-1.medium-block-grid-2(data-equalizer)
						li
							h3.box-title.icon-doc.bg-secondary Material de Divulgação
							.custom-panel
								.panel(data-equalizer-watch)
									h4 Início das inscrições
									a(href='#') Confira o calendário completo.Clique aqui &rsaquo;
						li
							h3.box-title.icon-doc.bg-secondary Material de Divulgação
							.custom-panel
								.panel(data-equalizer-watch)
									h4 Abertura do site para o recebimento de materiais
									a(href='#') Confira o calendário completo.Clique aqui &rsaquo;
		include footer

dist/index.html
<!DOCTYPE html>
<html lang="pt" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>30 Congresso Brasileiro de Patologia | 29 de Outubro a 01 de Novembro</title>

    <link rel="stylesheet" href="css/app.min.css"/>
    <script src="js/vendor/modernizr.min.js"></script>
  </head>
  <body>
    <header>
      <div data-equalizer="data-equalizer" class="row">
        <div data-equalizer-watch="data-equalizer-watch" class="small-4 columns">
          <div itemscope="itemscope" itemtype="http://schema.org/Organization"><a itemprop="url" href="http://congressodepatologia.org.br/"><img itemprop="logo" src="images/congresso_brasileiro_patologia.png" alt="30 Congresso Brasileiro de Patologia"></a></div>
        </div>
        <div id="data" data-equalizer-watch="data-equalizer-watch" class="small-6 columns"><img src="images/data_congresso.png" alt="De 29 de Outubro a 01 de Novembro"></div>
        <div id="login" data-equalizer-watch="data-equalizer-watch" class="small-2 columns">
          <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
          <ul class="inline-list">
            <li><a href="#">login</a></li>
            <li><a href="#">cadastre-se</a></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <nav id="mainNav">
            <ul class="inline-list">
              <li><a href="#">Home</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#" data-dropdown="drop-trabalhos">Trabalhos e SL de Residentes</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <section role="fixed-navigation">
        <div class="row">
          <div class="small-12 columns"></div>
          <nav>
            <ul class="inline-list">
              <li><a href="#" class="logo">30 Congresso Brasileiro de Patologia</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Associados Eméritos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section role="dropdown-container">
        <div class="row">
          <ul id="drop-congresso" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
        <div class="row">
          <ul id="drop-trabalhos" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
      </section>
    </header>
    <section role="banners" class="big-banners">
      <ul data-orbit="data-orbit" data-options="animation:fade; navigation_arrows:false; timer:false; slide_number:false;">
        <li class="active"><img src="images/141003-banner-home-convention-center-1440.jpg" data-interchange="[images/141003-banner-home-convention-center-1440.jpg, (default)], [images/141003-banner-home-convention-center-1920.jpg, (only screen and (min-width: 1440px))]" alt="slide 2">
          <div class="row">
            <div class="orbit-caption">
              <h4>CONVENTION CENTER <br><span>FREI CANECA</span></h4><br><a href="#"><strong>Realização SBP. Veja mais informações &#8250;</strong></a>
            </div>
          </div>
        </li>
        <li><img src="images/141003-banner-home-sao-paulo-1440.jpg" data-interchange="[images/141003-banner-home-sao-paulo-1440.jpg, (default)], [images/141003-banner-home-sao-paulo-1920.jpg, (only screen and (min-width: 1440px))]" alt="slide 1">
          <div class="row">
            <div class="orbit-caption">
              <h4>CONHEÇA &nbsp;<br><span>SÃO PAULO</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
            </div>
          </div>
        </li>
        <li><img src="images/141003-banner-home-palestrantes-1440.jpg" data-interchange="[images/141003-banner-home-palestrantes-1440.jpg, (default)], [images/141003-banner-home-palestrantes-1920.jpg, (only screen and (min-width: 1440px))]" alt="slide 3">
          <div class="row">
            <div class="orbit-caption">
              <h4>PALESTRANTES <br><span>CONFIRMADOS</span></h4><br><a href="#"><strong>veja a programação completa &#8250;		</strong></a>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <div id="content" role="content">
      <div class="row">
        <div class="small-9 columns">
          <div class="content_block">
            <h1>30&deg; congresso<span>brasileiro de patologia</span></h1>
            <p>Patologia: novos paradigmas para o avanço da medicina<br>A medicina personalizada talvez seja o principal paradigma da medicina atual, na qual, a Anatomia Patológica, por meio de estudos genéticos, moleculares e genômicos, atua de forma decisiva na condução diagnóstica e prognóstica dos pacientes.</p>
            <p>Outros paradigmas relacionam-se com a gestão laboratorial e o ensino da Patologia, notadamente nesse último, por meio de modificações curriculares no ensino da Anatomia Patológica e, consequente déficit de novos especialistas, determinando o estabelecimento de novas políticas de ensino e gestão laboratorial.</p><a href="#">Realização SBP. Leia Mais &rsaquo;</a>
          </div>
          <div class="content_block">
            <h2>mensagem do<span>presidente</span></h2>
            <p>É com grande prazer que venho convidá-lo(a) para participar do 30º Congresso Brasileiro de Patologia, que será relizado no Centro de Convenções Frei Caneca, em São Paulo, no período de 29 de outubro a 01 de novembro de 2015. </p>
            <p>O evento está sendo organizado pela diretoria da Sociedade Brasileira de Patologia e, pela primeira vez, será realizado na cidade de São Paulo, que é o principal centro corporativo, financeiro e mercantil da América do Sul, oferecendo grande variedade de lazer, cultura e entretenimento.</p><a href="#">Realização SBP. Leia Mais &rsaquo;</a>
          </div>
        </div>
        <div class="small-3 columns">
          <aside>
            <h4>Realização</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Diamante</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Ouro</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Prata</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Bronze</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
          </aside>
        </div>
      </div>
      <div class="row">
        <div class="line"></div>
        <ul class="small-block-grid-1 medium-block-grid-3 img-anchor-list">
          <li><img src="images/box-1-comissoes.jpg"><a href="#">Leia mais...</a></li>
          <li><img src="images/box-2-palestrantes.jpg"><a href="#">Leia mais...</a></li>
          <li><img src="images/box-3-seminarios.jpg"><a href="#">Leia mais...</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="content_block">
          <h2>datas<span>importantes</span></h2>
          <ul data-equalizer class="small-block-grid-1 medium-block-grid-2">
            <li>
              <h3 class="box-title icon-doc bg-secondary">Material de Divulgação</h3>
              <div class="custom-panel">
                <div data-equalizer-watch class="panel">
                  <h3>Início das inscrições</h3><a href="#">Confira o calendário completo.Clique aqui &rsaquo;</a>
                </div>
              </div>
            </li>
            <li>
              <h3 class="box-title icon-doc bg-secondary">Material de Divulgação</h3>
              <div class="custom-panel">
                <div data-equalizer-watch class="panel">
                  <h3>Abertura do site para o recebimento de materiais</h3><a href="#">Confira o calendário completo.Clique aqui &rsaquo;</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <section role="banners" class="big-banners">
        <ul data-orbit="data-orbit" data-options="animation:fade; navigation_arrows:false; timer:false; slide_number:false;">
          <li class="active"><img src="images/141003-banner-footer-programacao-cientifica-1440.jpg" data-interchange="[images/141003-banner-footer-programacao-cientifica-1440.jpg, (default)], [images/141003-banner-footer-programacao-cientifica-1920.jpg, (only screen and (min-width: 1440px))]" alt="slide 2">
            <div class="row">
              <div class="orbit-caption">
                <h4>PROGRAMAÇÃO<br><span>CIENTÍFICA</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/EE964D/fff, (default)], [http://placehold.it/1920x320/EE964D/fff, (only screen and (min-width: 1440px))]" alt="slide 1">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Two&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/FDC43D/fff, (default)], [http://placehold.it/1920x320/FDC43D/fff, (only screen and (min-width: 1440px))]" alt="slide 3">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Three&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <div class="row">
        <div id="subscribe" class="small-8 columns">
          <h4>Você já se inscreveu?</h4><a href="#"><strong>veja mais informações &#8250;</strong></a>
        </div>
        <div class="small-4 columns">
          <h4 class="text-right">Inscreva-se Agora!</h4>
        </div>
      </div>
      <section role="sitemap">
        <div class="row">
          <div class="small-6 columns"><img src="images/congresso_brasileiro_patologia_white.png"><em>Agências Promotora e de Viagens:</em>
            <div class="row">
              <div class="small-5 columns"><a href="#" class="sprites-footer interevent"></a></div>
              <div class="small-5 columns end"><a href="#" class="sprites-footer diferencial"></a></div>
            </div>
          </div>
          <div class="small-3 columns">
            <ul>
              <li><a href="#" class="uppercase">Home</a></li>
              <li><a href="#" class="uppercase">O Congresso</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#">Comissão</a></li>
              <li><a href="#">Palestrantes</a></li>
              <li><a href="#">Trabalhos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#" class="uppercase">Inscrições</a></li>
              <li><a href="#" class="uppercase">Fale Conosco</a></li>
            </ul>
          </div>
          <div class="small-3 columns">
            <ul>
              <li>
                <div itemscope="itemscope" itemtype="http://schema.org/Organization">
                  <h5>contatos<span itemprop="telephone">+55 (21) 3326-3320</span></h5>
                </div>
              </li>
              <li><a href="mailto:patologia2015@interevent.com.br" itemprop="email">patologia2015@interevent.com.br</a></li>
              <li>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Av. das Americas 3500<br>Bl. Hong Kong 3000 Sl. 405</span><span itemprop="addressLocality">Barra da Tijuca -<span itemprop="addressRegion">RJ</span></span></div>
              </li>
            </ul>
            <div class="row collapse">
              <div class="small-7 small-offset-1 column">
                <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row collapse"><em>Patrocínio:</em>
          <ul class="small-block-grid-4">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-5">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-8">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
      </section>
      <section role="copyright">
        <div class="row collapse">
          <div class="small-8 columns">
            <ul class="small-block-grid-5">
              <li><em>Realização:</em></li>
              <li><a href="#" class="sprites-footer sbp"></a></li>
              <li><em>Apoio:</em></li>
              <li><a href="#" class="sprites-footer academy"></a></li>
              <li><a href="#" class="sprites-footer amb"></a></li>
            </ul>
          </div>
          <div class="small-4 columns"><small>&copy; Todos os direitos reservados a Sociedade Brasileira de Patologia</small></div>
        </div>
      </section>
    </footer>
    <script src="js/vendor/libraries.min.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script src="js/app.min.js"></script>
  </body>
</html>
