dist/inscricoes-congresso.html
<!DOCTYPE html>
<html lang="pt" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>30 Congresso Brasileiro de Patologia | 29 de Outubro a 01 de Novembro</title>

    <link rel="stylesheet" href="css/app.min.css"/>
    <script src="js/vendor/modernizr.min.js"></script>
  </head>
  <body>
    <header>
      <div data-equalizer="data-equalizer" class="row">
        <div data-equalizer-watch="data-equalizer-watch" class="small-4 columns">
          <div itemscope="itemscope" itemtype="http://schema.org/Organization"><a itemprop="url" href="http://congressodepatologia.org.br/"><img itemprop="logo" src="images/congresso_brasileiro_patologia.png" alt="30 Congresso Brasileiro de Patologia"></a></div>
        </div>
        <div id="data" data-equalizer-watch="data-equalizer-watch" class="small-6 columns"><img src="images/data_congresso.png" alt="De 29 de Outubro a 01 de Novembro"></div>
        <div id="login" data-equalizer-watch="data-equalizer-watch" class="small-2 columns">
          <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
          <ul class="inline-list">
            <li><a href="#">login</a></li>
            <li><a href="#">cadastre-se</a></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <nav id="mainNav">
            <ul class="inline-list">
              <li><a href="#">Home</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#" data-dropdown="drop-trabalhos">Trabalhos e SL de Residentes</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <section role="fixed-navigation">
        <div class="row">
          <div class="small-12 columns"></div>
          <nav>
            <ul class="inline-list">
              <li><a href="#" class="logo">30 Congresso Brasileiro de Patologia</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Associados Eméritos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section role="dropdown-container">
        <div class="row">
          <ul id="drop-congresso" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
        <div class="row">
          <ul id="drop-trabalhos" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
      </section>
    </header>
    <div id="content" role="content">
      <div class="row">
        <nav id="breadcrumbs" class="small-12 columns">
          <ul class="breadcrumbs">
            <li><a href=".">Home</a></li>
            <li class="current"><a href="#">Inscrições</a></li>
          </ul>
        </nav>
        <div class="small-9 columns">
          <div id="page-title" class="small-12">
            <h1><a href="#">INSCRIÇÕES</a></h1>
          </div>
          <div class="small-12"><a class="small-12 button bg-primary"><strong>CLIQUE AQUI E INSCREVA-SE AGORA <br><span style="color:#4c9993">SIGN UP NOW</span></strong></a>
            <div class="content_block">
              <p>Confira as categorias disponíveis e clique em inscreva-se agora:</p>
            </div>
            <div class="row grid-inscricao">
              <div class="small-12 columns grid_line">
                <div class="small-4 columns">
                  <h3>CATEGORIA</h3>
                </div>
                <div class="small-2 columns">
                  <h3>Até 15/05/15</h3>
                </div>
                <div class="small-2 columns">
                  <h3>Até 15/05/15</h3>
                </div>
                <div class="small-2 columns">
                  <h3>Até 15/05/15</h3>
                </div>
                <div class="small-2 columns">
                  <h3>Até 15/05/15</h3>
                </div>
              </div>
              <div class="small-12 columns grid_line">
                <div class="small-4 columns">
                  <div class="title panel">Acadêmico (3)</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 300,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 360,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 380,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 450,00</div>
                </div>
              </div>
              <div class="small-12 columns grid_line">
                <div class="small-4 columns">
                  <div class="title panel">Acompanhante (5, 6)</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 200,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 250,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 265,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 320,00</div>
                </div>
              </div>
              <div class="small-12 columns grid_line">
                <div class="small-4 columns">
                  <div class="title panel">Associado SBP <br>Adimplente (1)</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel bg-primary">R$ 200,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 250,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 265,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 320,00</div>
                </div>
              </div>
              <div class="small-12 columns grid_line">
                <div class="small-4 columns">
                  <div class="title panel">Associado SBP <br>Residente Adimplente</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 200,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 250,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 265,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 320,00</div>
                </div>
              </div>
              <div class="small-12 columns grid_line">
                <div class="small-4 columns">
                  <div class="title panel">Day Fee (1, 4)</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 200,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 250,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 265,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 320,00</div>
                </div>
              </div>
              <div class="small-12 columns grid_line">
                <div class="small-4 columns">
                  <div class="title panel">Não associado SBP<br>/ Inadimplente (1)</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 200,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 250,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 265,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 320,00</div>
                </div>
              </div>
              <div class="small-12 columns grid_line">
                <div class="small-4 columns">
                  <div class="title panel">Associado SBP <br>Pós-Graduando <br>Adimplente (1, 2)</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 200,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 250,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 265,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 320,00</div>
                </div>
              </div>
              <div class="small-12 columns grid_line">
                <div class="small-4 columns">
                  <div class="title panel">Outros profissionais da saúde (7)</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 200,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 250,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 265,00</div>
                </div>
                <div class="small-2 columns">
                  <div class="panel">R$ 320,00</div>
                </div>
              </div>
            </div>
            <div class="small-12 columns content_block">
              <h4>Legenda</h4>
              <p>(1) Médico, dentista e veterinário;</p>
              <p>(2) Bolsista da CAPES, CNPq ou outra agência de fomento com comprovante de dedicação exclusiva;</p>
              <p>(3) Graduando em Medicina, Odontologia e Veterinária. Necessário comprovação;</p>
              <p>(4) Apenas para participação em um dia do evento.				</p>
              <p>(5) Direito a visitar a área de exposição e participar das atividades sociais do congresso p (Coquetel de abertura e Festa de encerramento).				</p>
              <p>(6) A partir de 12 anos as crianças devem ser inscritas como acompanhantes.	</p>
              <p>(7) Com direito a participação em atividades específicas</p>
              <div class="custom-small">
                <h4>Observações</h4>
                <p>Todos os comprovantes devem ser enviados para o e-mail<a href="#"> secretaria@sbp.org.br</a></p>
                <p>Acadêmicos: carteira de estudante ou comprovante de matrícula </p>
                <p>Pós Graduandos: comprovante ofícial de dedicação exclusiva </p>
                <p>Após o recebimento e aprovação do(s) comprovante(s) será enviado um e-mail avisando que a opção de inscrição está disponível.</p>
              </div>
              <div class="custom-small">
                <h4>Inscrições por "empenho"</h4>
                <p>A SBP não possui inscrição no SICAF ou qualquer outro registro governamental. O participante que possuir instituição financiadora deve inscrever-se, efetuar o pagamento e enviar e-mail para secretaria@sbp.org.br informando que solicitará o reembolso da inscrição. Após a liberação do pagamento pela instituição financiadora, a organização do congresso devolverá o valor pago pelo inscrito.</p>
              </div>
              <div class="custom-small">
                <h4>2ª. via Crachá</h4>
                <p>Crachás de Identificação: Os participantes deverão usar o crachá de forma visível durante todo o tempo em que permanecerem dentro do Centro de Convenções Frei Caneca. O uso do crachá de identificação será indispensável e obrigatório para o acesso ao 30º Congresso Brasileiro de Patologia.      </p><br>
                <p>Atenção - Em caso de perda do crachá, será cobrada uma taxa de R$ 100,00 (cem reais) para o  fornecimento da 2ª via. Os crachás de acompanhantes e expositores não permitem o acesso às atividades científicas, somente mediante autorização. </p>
              </div>
              <div class="custom-small">
                <h4 class="alert">Política de Cancelamento</h4>
                <p>a) Solicitações de cancelamento devem ser enviadas por escrito para o e-mail <a href="#"> secretaria@sbp.org.br</a>com dados bancários para o reembolso.</p>
                <p>b) Será cobrada uma taxa de cancelamento de 30% sobre o valor da inscrição.</p>
                <p>c) Só serão aceitos pedidos de cancelamento até o dia 10/10/2015.</p>
                <p>d) Os reembolsos só serão feitos após o congresso.</p>
                <p>e) A inscrição é pessoal e intransferível. Em caso de não comparecimento o valor pago não será devolvido.</p><br>
                <p><strong>Será garantido material aos pré-inscritos.</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="small-3 columns">
          <aside>
            <h4>Realização</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Diamante</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Ouro</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Prata</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Bronze</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
    <footer>
      <section role="banners" class="big-banners">
        <ul data-orbit="data-orbit" data-options="animation:fade; navigation_arrows:false; timer:false; slide_number:false;">
          <li class="active"><img src="images/141003-banner-footer-programacao-cientifica-1440.jpg" data-interchange="[images/141003-banner-footer-programacao-cientifica-1440.jpg, (default)], [images/141003-banner-footer-programacao-cientifica-1920.jpg, (only screen and (min-width: 1440px))]" alt="slide 2">
            <div class="row">
              <div class="orbit-caption">
                <h4>PROGRAMAÇÃO<br><span>CIENTÍFICA</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/EE964D/fff, (default)], [http://placehold.it/1920x320/EE964D/fff, (only screen and (min-width: 1440px))]" alt="slide 1">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Two&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/FDC43D/fff, (default)], [http://placehold.it/1920x320/FDC43D/fff, (only screen and (min-width: 1440px))]" alt="slide 3">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Three&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <div class="row">
        <div id="subscribe" class="small-8 columns">
          <h4>Você já se inscreveu?</h4><a href="#"><strong>veja mais informações &#8250;</strong></a>
        </div>
        <div class="small-4 columns">
          <h4 class="text-right">Inscreva-se Agora!</h4>
        </div>
      </div>
      <section role="sitemap">
        <div class="row">
          <div class="small-6 columns"><img src="images/congresso_brasileiro_patologia_white.png"><em>Agências Promotora e de Viagens:</em>
            <div class="row">
              <div class="small-5 columns"><a href="#" class="sprites-footer interevent"></a></div>
              <div class="small-5 columns end"><a href="#" class="sprites-footer diferencial"></a></div>
            </div>
          </div>
          <div class="small-3 columns">
            <ul>
              <li><a href="#" class="uppercase">Home</a></li>
              <li><a href="#" class="uppercase">O Congresso</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#">Comissão</a></li>
              <li><a href="#">Palestrantes</a></li>
              <li><a href="#">Trabalhos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#" class="uppercase">Inscrições</a></li>
              <li><a href="#" class="uppercase">Fale Conosco</a></li>
            </ul>
          </div>
          <div class="small-3 columns">
            <ul>
              <li>
                <div itemscope="itemscope" itemtype="http://schema.org/Organization">
                  <h5>contatos<span itemprop="telephone">+55 (21) 3326-3320</span></h5>
                </div>
              </li>
              <li><a href="mailto:patologia2015@interevent.com.br" itemprop="email">patologia2015@interevent.com.br</a></li>
              <li>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Av. das Americas 3500<br>Bl. Hong Kong 3000 Sl. 405</span><span itemprop="addressLocality">Barra da Tijuca -<span itemprop="addressRegion">RJ</span></span></div>
              </li>
            </ul>
            <div class="row collapse">
              <div class="small-7 small-offset-1 column">
                <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row collapse"><em>Patrocínio:</em>
          <ul class="small-block-grid-4">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-5">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-8">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
      </section>
      <section role="copyright">
        <div class="row collapse">
          <div class="small-8 columns">
            <ul class="small-block-grid-5">
              <li><em>Realização:</em></li>
              <li><a href="#" class="sprites-footer sbp"></a></li>
              <li><em>Apoio:</em></li>
              <li><a href="#" class="sprites-footer academy"></a></li>
              <li><a href="#" class="sprites-footer amb"></a></li>
            </ul>
          </div>
          <div class="small-4 columns"><small>&copy; Todos os direitos reservados a Sociedade Brasileira de Patologia</small></div>
        </div>
      </section>
    </footer>
    <script src="js/vendor/libraries.min.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script src="js/app.min.js"></script>
  </body>
</html>

app/inscricoes-congresso.jade
doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Inscrições

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") INSCRIÇÕES

					div(class="small-12")
						a.small-12.button.bg-primary 
							strong CLIQUE AQUI E INSCREVA-SE AGORA <br>
								span(style="color:#4c9993") SIGN UP NOW

						.content_block
							p Confira as categorias disponíveis e clique em inscreva-se agora:
						
						.row.grid-inscricao
							.small-12.columns.grid_line
								.small-4.columns
									h3 CATEGORIA
								.small-2.columns
									h3 Até 15/05/15
								.small-2.columns
									h3 Até 15/05/15
								.small-2.columns
									h3 Até 15/05/15
								.small-2.columns
									h3 Até 15/05/15

							.small-12.columns.grid_line
								.small-4.columns
									.title.panel Acadêmico (3)
								.small-2.columns
									.panel R$ 300,00
								.small-2.columns
									.panel R$ 360,00
								.small-2.columns
									.panel R$ 380,00
								.small-2.columns
									.panel R$ 450,00

							.small-12.columns.grid_line
								.small-4.columns
									.title.panel Acompanhante (5, 6)
								.small-2.columns
									.panel R$ 200,00
								.small-2.columns
									.panel R$ 250,00
								.small-2.columns
									.panel R$ 265,00
								.small-2.columns
									.panel R$ 320,00

							.small-12.columns.grid_line
								.small-4.columns
									.title.panel Associado SBP <br>Adimplente (1)
								.small-2.columns
									.panel.bg-primary R$ 200,00
								.small-2.columns
									.panel R$ 250,00
								.small-2.columns
									.panel R$ 265,00
								.small-2.columns
									.panel R$ 320,00

							.small-12.columns.grid_line
								.small-4.columns
									.title.panel Associado SBP <br>Residente Adimplente
								.small-2.columns
									.panel R$ 200,00
								.small-2.columns
									.panel R$ 250,00
								.small-2.columns
									.panel R$ 265,00
								.small-2.columns
									.panel R$ 320,00

							.small-12.columns.grid_line
								.small-4.columns
									.title.panel Day Fee (1, 4)
								.small-2.columns
									.panel R$ 200,00
								.small-2.columns
									.panel R$ 250,00
								.small-2.columns
									.panel R$ 265,00
								.small-2.columns
									.panel R$ 320,00

							.small-12.columns.grid_line
								.small-4.columns
									.title.panel Não associado SBP<br>/ Inadimplente (1)
								.small-2.columns
									.panel R$ 200,00
								.small-2.columns
									.panel R$ 250,00
								.small-2.columns
									.panel R$ 265,00
								.small-2.columns
									.panel R$ 320,00
	
							.small-12.columns.grid_line
								.small-4.columns
									.title.panel Associado SBP <br>Pós-Graduando <br>Adimplente (1, 2)
								.small-2.columns
									.panel R$ 200,00
								.small-2.columns
									.panel R$ 250,00
								.small-2.columns
									.panel R$ 265,00
								.small-2.columns
									.panel R$ 320,00

							.small-12.columns.grid_line
								.small-4.columns
									.title.panel Outros profissionais da saúde (7)
								.small-2.columns
									.panel R$ 200,00
								.small-2.columns
									.panel R$ 250,00
								.small-2.columns
									.panel R$ 265,00
								.small-2.columns
									.panel R$ 320,00

						.small-12.columns.content_block
							h4 Legenda
							p (1) Médico, dentista e veterinário;
							p (2) Bolsista da CAPES, CNPq ou outra agência de fomento com comprovante de dedicação exclusiva;
							p (3) Graduando em Medicina, Odontologia e Veterinária. Necessário comprovação;
							p (4) Apenas para participação em um dia do evento.				
							p (5) Direito a visitar a área de exposição e participar das atividades sociais do congresso p (Coquetel de abertura e Festa de encerramento).				
							p (6) A partir de 12 anos as crianças devem ser inscritas como acompanhantes.	
							p (7) Com direito a participação em atividades específicas

							.custom-small
								h4 Observações
								p Todos os comprovantes devem ser enviados para o e-mail
									a(href="#")  secretaria@sbp.org.br
								p Acadêmicos: carteira de estudante ou comprovante de matrícula 
								p Pós Graduandos: comprovante ofícial de dedicação exclusiva 
								p Após o recebimento e aprovação do(s) comprovante(s) será enviado um e-mail avisando que a opção de inscrição está disponível.

							.custom-small
								h4 Inscrições por "empenho"
								p A SBP não possui inscrição no SICAF ou qualquer outro registro governamental. O participante que possuir instituição financiadora deve inscrever-se, efetuar o pagamento e enviar e-mail para secretaria@sbp.org.br informando que solicitará o reembolso da inscrição. Após a liberação do pagamento pela instituição financiadora, a organização do congresso devolverá o valor pago pelo inscrito.

							.custom-small
								h4 2ª. via Crachá
								p Crachás de Identificação: Os participantes deverão usar o crachá de forma visível durante todo o tempo em que permanecerem dentro do Centro de Convenções Frei Caneca. O uso do crachá de identificação será indispensável e obrigatório para o acesso ao 30º Congresso Brasileiro de Patologia.      

								br
								
								p Atenção - Em caso de perda do crachá, será cobrada uma taxa de R$ 100,00 (cem reais) para o  fornecimento da 2ª via. Os crachás de acompanhantes e expositores não permitem o acesso às atividades científicas, somente mediante autorização. 

							.custom-small
								h4.alert Política de Cancelamento
								p a) Solicitações de cancelamento devem ser enviadas por escrito para o e-mail 
									a(href="#")  secretaria@sbp.org.br
									| com dados bancários para o reembolso.
								p b) Será cobrada uma taxa de cancelamento de 30% sobre o valor da inscrição.
								p c) Só serão aceitos pedidos de cancelamento até o dia 10/10/2015.
								p d) Os reembolsos só serão feitos após o congresso.
								p e) A inscrição é pessoal e intransferível. Em caso de não comparecimento o valor pago não será devolvido.

								br

								p
									strong Será garantido material aos pré-inscritos.

				div(class="small-3 columns")
					include sidebar
		include footer
