app/inscricao-forma-pagamento.html
<!DOCTYPE html>
<html lang="pt" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>30 Congresso Brasileiro de Patologia | 29 de Outubro a 01 de Novembro</title>
    <!-- build:css css/libraries.min.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:css css/app.min.css-->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/app_override.css">
    <!-- endbuild-->
    <!-- build:js js/vendor/modernizr.min.js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild-->
  </head>
  <body>
    <header>
      <div data-equalizer="data-equalizer" class="row">
        <div data-equalizer-watch="data-equalizer-watch" class="small-4 columns">
          <div itemscope="itemscope" itemtype="http://schema.org/Organization"><a itemprop="url" href="http://congressodepatologia.org.br/"><img itemprop="logo" src="images/congresso_brasileiro_patologia.png" alt="30 Congresso Brasileiro de Patologia"></a></div>
        </div>
        <div id="data" data-equalizer-watch="data-equalizer-watch" class="small-6 columns"><img src="images/data_congresso.png" alt="De 29 de Outubro a 01 de Novembro"></div>
        <div id="login" data-equalizer-watch="data-equalizer-watch" class="small-2 columns">
          <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
          <ul class="inline-list">
            <li><a href="#">login</a></li>
            <li><a href="#">cadastre-se</a></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <nav id="mainNav">
            <ul class="inline-list">
              <li><a href="#">Home</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#" data-dropdown="drop-trabalhos">Trabalhos e SL de Residentes</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <section role="fixed-navigation">
        <div class="row">
          <div class="small-12 columns"></div>
          <nav>
            <ul class="inline-list">
              <li><a href="#" class="logo">30 Congresso Brasileiro de Patologia</a></li>
              <li><a href="#" data-dropdown="drop-congresso">O Congresso</a></li>
              <li><a href="#">Insrições</a></li>
              <li><a href="#">Associados Eméritos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section role="dropdown-container">
        <div class="row">
          <ul id="drop-congresso" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
        <div class="row">
          <ul id="drop-trabalhos" class="dropdown">
            <li><a href="#">Mensagem do Presidente</a></li>
            <li><a href="#">Datas Importantes</a></li>
            <li><a href="#">Associados Eméritos 2015</a></li>
            <li><a href="#">Comissões</a></li>
            <li><a href="#">Palestrantes</a></li>
            <li><a href="#">Pós-Congresso</a></li>
          </ul>
        </div>
      </section>
    </header>
    <div id="content" role="content">
      <div class="row">
        <nav id="breadcrumbs" class="small-12 columns">
          <ul class="breadcrumbs">
            <li><a href=".">Home</a></li>
            <li class="current"><a href="#">Inscrição local</a></li>
          </ul>
        </nav>
        <div class="small-9 columns">
          <div id="page-title" class="small-12">
            <h1><a href="#">INSCRIÇÃO LOCAL</a></h1>
          </div>
          <div class="small-12">
            <div class="row">
              <div class="small-8 small-centered column">
                <div class="row">
                  <div class="content_block">
                    <div class="small-3 columns">
                      <p style="margin-bottom:0">CPF:</p>
                    </div>
                    <div class="small-9 columns">
                      <p style="margin-bottom:0">396.233.528-59</p>
                    </div>
                    <div class="small-3 columns">
                      <p style="margin-bottom:0">Nome:</p>
                    </div>
                    <div class="small-9 columns">
                      <p style="margin-bottom:0">Raul Souza Silva Mendes</p>
                    </div>
                    <div class="small-3 columns">
                      <p style="margin-bottom:0">CRM/UF:</p>
                    </div>
                    <div class="small-9 columns">
                      <p style="margin-bottom:0">396.233.528-59</p>
                    </div>
                    <div class="small-3 columns">
                      <p style="margin-bottom:0">Categoria:</p>
                    </div>
                    <div class="small-9 columns">
                      <p style="margin-bottom:0" class="red">Associado Inadimplente</p>
                    </div>
                    <div class="small-3 columns">
                      <p style="margin-bottom:0">Email:</p>
                    </div>
                    <div class="small-9 columns">
                      <p style="margin-bottom:0">raul@outlook.com</p>
                    </div>
                    <div class="small-3 columns">
                      <p style="margin-bottom:0">N&deg; Ficha:</p>
                    </div>
                    <div class="small-9 columns">
                      <p style="margin-bottom:0">1237654</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <p>&nbsp;</p>
              </div>
            </div>
            <div class="row">
              <div class="small-12 left table-custom">
                <table class="small-10 small-offset-1">
                  <thead class="small-12">
                    <tr>
                      <th class="small-8 bg-secondary">Categoria</th>
                      <th class="small-4 bg-secondary">Valor (R$)</th>
                    </tr>
                  </thead>
                  <tbody class="small-12">
                    <tr>
                      <td class="small-6">Não associado / Inadimplente</td>
                      <td class="small-3">120,00</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="small-12 left table-custom">
                <table class="small-10 small-offset-1">
                  <caption><small>Passe o mouse para editar</small></caption>
                  <thead class="small-12">
                    <tr>
                      <th class="small-8 bg-secondary">Nome do Acompanhante</th>
                      <th class="small-4 bg-secondary">Valor (R$)</th>
                    </tr>
                  </thead>
                  <tbody class="small-12">
                    <tr>
                      <td class="small-6 action-edit">Leandro da Silva Soares</td>
                      <td class="small-3 action-del">80,00</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th colspan="2" class="small-12 text-right">Total: 200,00</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="small-8 small-centered column">
                <div class="row">
                  <div class="content_block">
                    <p class="lead">Forma de Pagamento:</p><span>Escolha a opção desejada para finalizar sua inscrição:</span>
                  </div>
                  <div class="small-12 columns tabs-custom no-border">
                    <dl data-tab class="tabs">
                      <dd class="active"><a href="#cartao">CARTÃO</a></dd>
                      <dd><a href="#dinheiro">DINHEIRO</a></dd>
                      <dd><a href="#cheque">CHEQUE</a></dd>
                    </dl>
                    <div class="tabs-content">
                      <div id="cartao" class="content active"><span>Insira as informações necessárias</span>
                        <form>
                          <div class="row collapse">
                            <div class="small-12 columns">
                              <select id="bandeira" name="bandeira">
                                <option value="" selected disabled>BANDEIRA</option>
                                <option value="American Express">American Express</option>
                                <option value="Aura">Aura</option>
                                <option value="Elo">Elo</option>
                                <option value="Hipercard">Hipercard</option>
                                <option value="MasterCard">MasterCard</option>
                                <option value="Sorocred">Sorocred</option>
                                <option value="Visa">Visa</option>
                                <option value="Cartão BNDES">Cartão BNDES</option>
                                <option value="Diners Club">Diners Club</option>
                              </select>
                            </div>
                            <div class="small-12 columns">
                              <input type="text" placeholder="Nome Como no Cartão">
                            </div>
                            <div class="small-8 columns">
                              <input type="text" placeholder="Número do Cartão">
                            </div>
                            <div class="small-4 columns">
                              <input type="text" placeholder="Cód. Segurança">
                            </div>
                          </div>
                        </form>
                      </div>
                      <div id="dinheiro" class="content"><span>Insira as informações necessárias</span>
                        <form>
                          <div class="row collapse">
                            <div class="small-12 columns">
                              <select id="moeda" name="moeda">
                                <option value="" selected disabled>MOEDA</option>
                                <option value="BRL">Real(R$)</option>
                                <option value="USD">Dólar(US$)</option>
                              </select>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div id="cheque" class="content"><span>Insira as informações necessárias</span>
                        <form>
                          <div class="row collapse">
                            <div class="small-12 columns">
                              <select id="banco" name="banco">
                                <option value="" selected disabled>BANCO</option>
                                <option value="Itaú">Itaú</option>
                                <option value="Bradesco">Bradesco</option>
                                <option value="Santander">Santander</option>
                                <option value="Banco do Brasil">Banco do Brasil</option>
                                <option value="CAIXA">CAIXA</option>
                                <option value="HSBC">HSBC</option>
                              </select>
                            </div>
                            <div class="small-12 columns">
                              <input type="text" placeholder="Número do Cheque">
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns"><a href="#" class="button expand bg-primary">FINALIZAR INSCRIÇÃO</a></div>
              <div class="small-5 columns"><a href="#" class="button expand bg-custom dark-gray">Voltar</a></div>
            </div>
          </div>
        </div>
        <div class="small-3 columns">
          <aside>
            <h4>Realização</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/F0F0F0/333&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Diamante</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/A92B48/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Ouro</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/EE964D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Prata</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/FDC43D/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
            <h4>Patrocínio Bronze</h4>
            <ul data-orbit data-options="timer:false; slide_number:false; bullets:false;">
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
              <li><img src="http://placehold.it/140x70/9b59b6/FFF&amp;text=logo" alt="slide + key"></li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var local_data = { from: 'app/inscricao-forma-pagamento.jade', to: 'app/inscricao-forma-pagamento.html' }
      console.log(local_data);
      console.log(local_data.from);
      
      
    </script>
    <footer>
      <section role="banners" class="big-banners">
        <ul data-orbit="data-orbit" data-options="animation:fade; navigation_arrows:false; timer:false; slide_number:false;">
          <li class="active"><img src="images/141003-banner-footer-programacao-cientifica-1440.jpg" data-interchange="[images/141003-banner-footer-programacao-cientifica-1440.jpg, (default)], [images/141003-banner-footer-programacao-cientifica-1920.jpg, (only screen and (min-width: 1440px))]" alt="slide 2">
            <div class="row">
              <div class="orbit-caption">
                <h4>PROGRAMAÇÃO<br><span>CIENTÍFICA</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/EE964D/fff, (default)], [http://placehold.it/1920x320/EE964D/fff, (only screen and (min-width: 1440px))]" alt="slide 1">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Two&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
          <li><img src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/FDC43D/fff, (default)], [http://placehold.it/1920x320/FDC43D/fff, (only screen and (min-width: 1440px))]" alt="slide 3">
            <div class="row">
              <div class="orbit-caption">
                <h4>Caption Three&nbsp;<span>second line</span></h4><br><a href="#"><strong>veja a programação completa &#8250;</strong></a>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <div class="row">
        <div id="subscribe" class="small-8 columns">
          <h4>Você já se inscreveu?</h4><a href="#"><strong>veja mais informações &#8250;</strong></a>
        </div>
        <div class="small-4 columns">
          <h4 class="text-right">Inscreva-se Agora!</h4>
        </div>
      </div>
      <section role="sitemap">
        <div class="row">
          <div class="small-6 columns"><img src="images/congresso_brasileiro_patologia_white.png"><em>Agências Promotora e de Viagens:</em>
            <div class="row">
              <div class="small-5 columns"><a href="#" class="sprites-footer interevent"></a></div>
              <div class="small-5 columns end"><a href="#" class="sprites-footer diferencial"></a></div>
            </div>
          </div>
          <div class="small-3 columns">
            <ul>
              <li><a href="#" class="uppercase">Home</a></li>
              <li><a href="#" class="uppercase">O Congresso</a></li>
              <li><a href="#">Programação</a></li>
              <li><a href="#">Comissão</a></li>
              <li><a href="#">Palestrantes</a></li>
              <li><a href="#">Trabalhos</a></li>
              <li><a href="#">Informações</a></li>
              <li><a href="#" class="uppercase">Inscrições</a></li>
              <li><a href="#" class="uppercase">Fale Conosco</a></li>
            </ul>
          </div>
          <div class="small-3 columns">
            <ul>
              <li>
                <div itemscope="itemscope" itemtype="http://schema.org/Organization">
                  <h5>contatos<span itemprop="telephone">+55 (21) 3326-3320</span></h5>
                </div>
              </li>
              <li><a href="mailto:patologia2015@interevent.com.br" itemprop="email">patologia2015@interevent.com.br</a></li>
              <li>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Av. das Americas 3500<br>Bl. Hong Kong 3000 Sl. 405</span><span itemprop="addressLocality">Barra da Tijuca -<span itemprop="addressRegion">RJ</span></span></div>
              </li>
            </ul>
            <div class="row collapse">
              <div class="small-7 small-offset-1 column">
                <div class="icon-bar three-up social-icons"><a href="#" class="icon-twitter item"></a><a href="#" class="icon-facebook item"></a><a href="#" class="icon-googleplus item"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row collapse"><em>Patrocínio:</em>
          <ul class="small-block-grid-4">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-5">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
        <div class="row collapse">
          <ul class="small-block-grid-8">
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
            <li><img src="http://placehold.it/132x84"></li>
          </ul>
        </div>
      </section>
      <section role="copyright">
        <div class="row collapse">
          <div class="small-8 columns">
            <ul class="small-block-grid-5">
              <li><em>Realização:</em></li>
              <li><a href="#" class="sprites-footer sbp"></a></li>
              <li><em>Apoio:</em></li>
              <li><a href="#" class="sprites-footer academy"></a></li>
              <li><a href="#" class="sprites-footer amb"></a></li>
            </ul>
          </div>
          <div class="small-4 columns"><small>&copy; Todos os direitos reservados a Sociedade Brasileira de Patologia</small></div>
        </div>
      </section>
    </footer>
    <!-- build:js js/vendor/libraries.min.js-->
    <!-- bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <!-- endbower-->
    <script src="js/tiny.editor.js"></script>
    <!-- endbuild-->
    <!-- build:js js/vendor/foundation.min.js-->
    <script src="bower_components/foundation/js/foundation/foundation.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.accordion.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.alert.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.clearing.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.interchange.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.magellan.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.orbit.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.reveal.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tab.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <!-- endbuild-->
    <!-- build:js js/app.min.js-->
    <script src="js/app.js"></script>
    <!-- endbuild-->
  </body>
</html>

app/inscricao-forma-pagamento.jade
doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Inscrição local

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") INSCRIÇÃO LOCAL

					div(class="small-12")
						.row
							.small-8.small-centered.column
								.row
									.content_block
										.small-3.columns
											p(style="margin-bottom:0") CPF:
										.small-9.columns
											p(style="margin-bottom:0") 396.233.528-59
										.small-3.columns
											p(style="margin-bottom:0") Nome:
										.small-9.columns
											p(style="margin-bottom:0") Raul Souza Silva Mendes
										.small-3.columns
											p(style="margin-bottom:0") CRM/UF:
										.small-9.columns
											p(style="margin-bottom:0") 396.233.528-59
										.small-3.columns
											p(style="margin-bottom:0") Categoria:
										.small-9.columns
											p.red(style="margin-bottom:0") Associado Inadimplente
										.small-3.columns
											p(style="margin-bottom:0") Email:
										.small-9.columns
											p(style="margin-bottom:0") raul@outlook.com
										.small-3.columns
											p(style="margin-bottom:0") N&deg; Ficha:
										.small-9.columns
											p(style="margin-bottom:0") 1237654
						.row
							.small-12.columns
								p &nbsp;
						
						.row
							.small-12.left.table-custom
								table.small-10.small-offset-1
									thead.small-12
										tr
											th.small-8.bg-secondary Categoria
											th.small-4.bg-secondary Valor (R$)

									tbody.small-12
										tr
											td.small-6 Não associado / Inadimplente
											td.small-3 120,00

						.row
							.small-12.left.table-custom
								table.small-10.small-offset-1
									caption
										small Passe o mouse para editar
									thead.small-12
										tr
											th.small-8.bg-secondary Nome do Acompanhante
											th.small-4.bg-secondary Valor (R$)

									tbody.small-12
										tr
											td.small-6.action-edit Leandro da Silva Soares
											td.small-3.action-del 80,00
									tfoot
										tr
											th(colspan="2").small-12.text-right Total: 200,00
						.row
							.small-8.small-centered.column
								.row
									.content_block
										p.lead Forma de Pagamento:
										span Escolha a opção desejada para finalizar sua inscrição:

									.small-12.columns.tabs-custom.no-border
										dl.tabs(data-tab)
											dd.active
												a(href="#cartao") CARTÃO
											dd
												a(href="#dinheiro") DINHEIRO
											dd
												a(href="#cheque") CHEQUE

										.tabs-content
											.content.active#cartao
												span Insira as informações necessárias
												form
													.row.collapse
														.small-12.columns
															select#bandeira(name="bandeira")
																option(value="" selected disabled) BANDEIRA
																each val, index in ['American Express', 'Aura', 'Elo', 'Hipercard', 'MasterCard', 'Sorocred', 'Visa', 'Cartão BNDES', 'Diners Club']
																	option(value=val)= val
														.small-12.columns
															input(type="text" placeholder="Nome Como no Cartão")
														.small-8.columns
															input(type="text" placeholder="Número do Cartão")
														.small-4.columns
															input(type="text" placeholder="Cód. Segurança")


											.content#dinheiro
												span Insira as informações necessárias
												form
													.row.collapse
														.small-12.columns
															select#moeda(name="moeda")
																option(value="" selected disabled) MOEDA
																each val, key in {'Real(R$)': 'BRL', 'Dólar(US$)': 'USD'}
																	option(value=val)= key

											.content#cheque
												span Insira as informações necessárias
												form
													.row.collapse
														.small-12.columns
															select#banco(name="banco")
																option(value="" selected disabled) BANCO
																each val, index in ['Itaú', 'Bradesco', 'Santander', 'Banco do Brasil', 'CAIXA', 'HSBC']
																	option(value=val)= val
														.small-12.columns
															input(type="text" placeholder="Número do Cheque")
						.row
							.small-12.columns
								a.button.expand.bg-primary(href="#") FINALIZAR INSCRIÇÃO

							.small-5.columns
								a.button.expand.bg-custom.dark-gray(href="#") Voltar
				div(class="small-3 columns")
					include sidebar
		include footer
